In [1]:
import numpy as np
import pandas as pd

In [2]:

dataset = pd.read_csv('train.csv',dtype={"Monthly_Balance":str})

# Data Processing
## Data Description


ID: Represents a unique identification of an entry

Customer_ID: Represents a unique identification of a person

Month: Represents the month of the year

Name: Represents the name of a person

Age: Represents the age of the person

SSN: Represents the social security number of a person

Occupation: Represents the occupation of the person

Annual_Income: Represents the annual income of the person

Monthly_Inhand_Salary: Represents the monthly base salary of a person

Num_Bank_Accounts: Represents the number of bank accounts a person holds

Num_Credit_Card: Represents the number of other credit cards held by a person

Interest_Rate: Represents the interest rate on credit card

Num_of_Loan: Represents the number of loans taken from the bank

Type_of_Loan: Represents the types of loan taken by a person

Delay_from_due_date: Represents the average number of days delayed from the payment date

Num_of_Delayed_Payment: Represents the average number of payments delayed by a person

Changed_Credit_Limit: Represents the percentage change in credit card limit

Num_Credit_Inquiries: Represents the number of credit card inquiries

Credit_Mix: Represents the classification of the mix of credits

Outstanding_Debt: Represents the remaining debt to be paid

Credit_Utilization_Ratio: Represents the utilization ratio of credit card

Credit_History_Age: Represents the age of credit history of the person

Payment_of_Min_Amount: Represents whether only the minimum amount was paid by the person

Total_EMI_per_month: Represents the monthly EMI payments

Amount_invested_monthly: Represents the monthly amount invested by the customer

Payment_Behaviour: Represents the payment behavior of the customer

Monthly_Balance:Represents the monthly balance amount of the customer

Credit_Score:Represents the bracket of credit score (Poor, Standard, Good) ((Target))

In [3]:
def count():
    occurrences = {}

# Calculer les occurrences pour chaque colonne
    for column in dataset.columns:
        occurrences[column] = dataset[column].value_counts(dropna=False)

# Afficher les occurrences de chaque valeur par colonne
    for column, counts in occurrences.items():
        print(f"\nColumn: {column}")
        print(counts)

count()

Column: ID
ID
0x25fb6    1
0x25fb7    1
0x25fb8    1
0x25fb9    1
0x25fba    1
          ..
0x1605     1
0x1606     1
0x1607     1
0x1608     1
0x1609     1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0x942c    8
CUS_0xd40     8
CUS_0x21b1    8
CUS_0x2dbc    8
CUS_0xb891    8
             ..
CUS_0x5b48    8
CUS_0xa5f9    8
CUS_0x4d43    8
CUS_0xb95f    8
CUS_0x3edc    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                 9985
Langep                44
Stevex                44
Jessicad              39
Vaughanl              39
                    ...
Vellacotto             4
Josephine Masonz       4
ra Alperz              4
McBrideq               4
Timothyl               3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38      2833
28      2829
31      2806
26      2792
32      2749
        ...
325        1
6611       1
3779       1
5751       1
3966       1
Name: count, Length: 1788, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
505-53-7023       8
758-23-1095       8
341-94-4616       8
940-15-4402       8
               ...
753-72-2651       4
856-06-6147       4
331-28-1921       4
642-73-7670       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
20867.67      16
17273.83      16
36585.12      16
9141.63       15
33029.66      15
              ..
3874136.0      1
42588.14_      1
32291.88_      1
28730.26_      1
17770.795_     1
Name: count, Length: 18940, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
1698.145919        1
1515.410833        1
1465.444744        1
1879.396612        1
2760.869167        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6       13001
7       12823
8       12765
4       12186
5       12118
        ...
665         1
1388        1
1429        1
1588        1
1777        1
Name: count, Length: 943, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5      18459
7      16615
6      16559
4      14030
3      13277
       ...
551        1
426        1
784        1
673        1
599        1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8       5012
5       4979
6       4721
10      4540
12      4540
        ...
3782       1
3849       1
2206       1
4828       1
1683       1
Name: count, Length: 1750, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3       14386
2       14250
4       14016
0       10380
1       10083
        ...
613         1
1048        1
777         1
696_        1
1202        1
Name: count, Length: 434, dtype: int64

Column: Type_of_Loan
Type_of_Loan
NaN                                                                                                                                   11408
Not Specified                                                                                                                          1408
Credit-Builder Loan                                                                                                                    1280
Personal Loan                                                                                                                          1272
Debt Consolidation Loan                                                                                                                1264
                                                                                                                                      ...
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                         8
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan        8
Debt Consolidation Loan, Personal Loan, Mortgage Loan, Personal Loan, Not Specified, Mortgage Loan, and Home Equity Loan                  8
Student Loan, Home Equity Loan, Student Loan, Personal Loan, Not Specified, Auto Loan, Auto Loan, and Debt Consolidation Loan             8
Payday Loan, Student Loan, Credit-Builder Loan, Mortgage Loan, and Auto Loan                                                              8
Name: count, Length: 6261, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
4134       1
1530       1
1502       1
4075       1
1869       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_                     2091
8.22                   133
11.5                   127
11.32                  126
10.06                  121
                      ...
27.38                    1
21.17                    1
0.8199999999999998       1
30.91                    1
-6.2                     1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
719.0         1
2239.0        1
2001.0        1
1953.0        1
2473.0        1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
1109.03     23
460.46      23
796.88      16
            ..
911.67_      1
1344.25_     1
465.88_      1
159.41_      1
412.38_      1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
27.289440    1
33.494867    1
31.738359    1
30.625298    1
23.140640    1
            ..
31.377862    1
24.797347    1
27.262259    1
22.537593    1
23.933795    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
54.037058           8
30.230996           8
54.079318           8
45.341401           8
                ...
61445.000000        1
73821.000000        1
55113.000000        1
61723.000000        1
31660.000000        1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
165.180659491917         1
62.030802602004044       1
                      ...
109.296681189146         1
33.6098814431885         1
76.87001005130772        1
908.6939096189257        1
401.35900899207513       1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
254.9709216273975                      1
250.0931678204641                      1
289.7550752754317                      1
                                    ...
278.8720257394474                      1
376.7024623690405                      1
321.2336043357731                      1
373.29270287694055                     1
336.6371802877606                      1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

on commence par la suppression des colonnes qui ont un aspect personnel unitaire .

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [5]:
# Réinitialiser l'index pour éviter les conflits
dataset = dataset.reset_index(drop=True)

# Convertir Age en numérique, gérer les erreurs
dataset['Age'] = pd.to_numeric(dataset['Age'], errors='coerce')

# Fonction pour corriger les valeurs aberrantes dans Age
def replace_invalid_age(group):
    valid_age = group['Age'][(group['Age'] > 0) & (group['Age'] < 100)]  # Âges valides < 100
    if not valid_age.empty:
        replacement_value = valid_age.iloc[0]  # Première valeur valide trouvée
        group['Age'] = group['Age'].apply(lambda x: replacement_value if pd.isnull(x) or x <= 0 or x >= 100 else x)
    return group

# Appliquer uniquement à la colonne 'Age' groupée par Customer_ID et Name
dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_age)

# Réinitialiser l'index final
dataset = dataset.reset_index(drop=True)

# Sauvegarder le DataFrame corrigé
dataset.to_csv("age_corrige.csv", index=False)

print("Les âges aberrants ont été corrigés.")

/tmp/ipykernel_404045/2142705844.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_age)

Les âges aberrants ont été corrigés.

In [6]:
dataset.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1628a,CUS_0x1000,January,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,Bad,1562.91,26.612093,10 Years and 2 Months,Yes,42.94109,244.75028300769162,Low_spent_Large_value_payments,252.9247932365056,Standard
1,0x1628b,CUS_0x1000,February,NaN,17.0,913-74-1218,Lawyer,30625.94,NaN,6,...,Bad,1562.91,29.439759,10 Years and 3 Months,Yes,42.94109,176.13256665597928,High_spent_Small_value_payments,311.542509588218,Poor
2,0x1628c,CUS_0x1000,March,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94_,2706.161667,6,...,Bad,1562.91,38.285928,10 Years and 4 Months,Yes,42.94109,109.05651876486915,High_spent_Medium_value_payments,368.61855747932816,Poor
3,0x1628d,CUS_0x1000,April,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,Bad,1562.91,32.843081,10 Years and 5 Months,Yes,42.94109,87.90990881495769,!@9#%8,419.7651674292397,Poor
4,0x1628e,CUS_0x1000,May,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,Bad,1562.91,32.330508,10 Years and 6 Months,Yes,42.94109,191.8347674990596,Low_spent_Large_value_payments,305.8403087451377,Poor

In [7]:
count()

Column: ID
ID
0x344a     1
0x344b     1
0x344c     1
0x344d     1
0x344e     1
          ..
0x1628d    1
0x1628e    1
0x1628f    1
0x16290    1
0x16291    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0xffd     8
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
             ..
CUS_0x105b    8
CUS_0x105c    8
CUS_0x1063    8
CUS_0x1069    8
CUS_0x106f    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Jessicad                39
Vaughanl                39
                      ...
Matt Scuffhamk           4
ODonnell"w               4
Olesya Dmitracovaq       4
Robin Pomeroyz           4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
244-85-0461       8
489-16-3177       8
121-87-3090       8
345-45-3616       8
               ...
642-73-7670       4
331-28-1921       4
753-72-2651       4
838-33-4811       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
17273.83      16
20867.67      16
36585.12      16
33029.66      15
9141.63       15
              ..
9888277.0      1
77874.09_      1
1732275.0      1
23467279.0     1
12029909.0     1
Name: count, Length: 18940, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
2995.596667        1
962.761667         1
9204.888026        1
587.015817         1
1069.950000        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6       13001
7       12823
8       12765
4       12186
5       12118
        ...
447         1
1110        1
175         1
242         1
230         1
Name: count, Length: 943, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
420         1
313         1
1332        1
939         1
154         1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8       5012
5       4979
6       4721
10      4540
12      4540
        ...
3647       1
1574       1
3055       1
998        1
1882       1
Name: count, Length: 1750, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3      14386
2      14250
4      14016
0      10380
1      10083
       ...
418        1
881        1
405        1
757        1
978        1
Name: count, Length: 434, dtype: int64

Column: Type_of_Loan
Type_of_Loan
NaN                                                                                                     11408
Not Specified                                                                                            1408
Credit-Builder Loan                                                                                      1280
Personal Loan                                                                                            1272
Debt Consolidation Loan                                                                                  1264
                                                                                                        ...
Student Loan, Payday Loan, Credit-Builder Loan, and Student Loan                                            8
Student Loan, Home Equity Loan, Credit-Builder Loan, Debt Consolidation Loan, and Student Loan              8
Mortgage Loan, Home Equity Loan, Personal Loan, and Personal Loan                                           8
Debt Consolidation Loan, Mortgage Loan, Payday Loan, and Debt Consolidation Loan                            8
Auto Loan, Student Loan, Mortgage Loan, Mortgage Loan, Student Loan, Student Loan, and Mortgage Loan        8
Name: count, Length: 6261, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
2413       1
2142       1
2521       1
926        1
3329       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
         ...
33.61       1
30.1        1
30.71       1
26.8        1
27.24       1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2367.0        1
719.0         1
303.0         1
469.0         1
908.0         1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
460.46      23
1109.03     23
1286.59     16
            ..
814.52_      1
3842.25_     1
792.46_      1
66.47_       1
1265.83_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
34.082750    1
34.985115    1
33.352900    1
38.429307    1
36.447249    1
            ..
32.843081    1
32.330508    1
40.082272    1
38.149539    1
30.077191    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
72.626594           8
85.884942           8
66.860461           8
282.554889          8
                ...
10747.000000        1
320.505265          1
39608.000000        1
74296.000000        1
123.452331          1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
209.7765860965073        1
126.27883281259922       1
                      ...
83.00690942942404        1
145.11558108240214       1
287.12970664015666       1
43.697810883758066       1
289.9612607423692        1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
232.10799014599846                     1
309.75580030837335                     1
332.35272069997137                     1
                                    ...
259.37609463216137                     1
433.855914394654                       1
323.39633935663187                     1
318.52815618332363                     1
426.53556223571456                     1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(5), int64(4), object(19)
memory usage: 21.4+ MB

In [9]:
def replace_invalid_occupation(group):
    # Exclure les valeurs invalides '_______'
    valid_occupations = group['Occupation'][group['Occupation'] != '_______']
    if not valid_occupations.empty:  # S'il y a des valeurs valides
        most_frequent = valid_occupations.mode()[0]  # Prendre la valeur la plus fréquente (modale)
        group['Occupation'] = group['Occupation'].apply(lambda x: most_frequent if x == '_______' else x)
    return group

# Appliquer la correction groupée par Customer_ID et Name
dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_occupation)
dataset = dataset.reset_index(drop=True)

/tmp/ipykernel_404045/3031165415.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_occupation)

In [10]:
count()

Column: ID
ID
0x344a     1
0x344b     1
0x344c     1
0x344d     1
0x344e     1
          ..
0x1628d    1
0x1628e    1
0x1628f    1
0x16290    1
0x16291    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0xffd     8
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
             ..
CUS_0x105b    8
CUS_0x105c    8
CUS_0x1063    8
CUS_0x1069    8
CUS_0x106f    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Jessicad                39
Vaughanl                39
                      ...
Matt Scuffhamk           4
ODonnell"w               4
Olesya Dmitracovaq       4
Robin Pomeroyz           4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
244-85-0461       8
489-16-3177       8
121-87-3090       8
345-45-3616       8
               ...
642-73-7670       4
331-28-1921       4
753-72-2651       4
838-33-4811       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Media_Manager    6720
Developer        6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
17273.83      16
20867.67      16
36585.12      16
33029.66      15
9141.63       15
              ..
9888277.0      1
77874.09_      1
1732275.0      1
23467279.0     1
12029909.0     1
Name: count, Length: 18940, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
2995.596667        1
962.761667         1
9204.888026        1
587.015817         1
1069.950000        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6       13001
7       12823
8       12765
4       12186
5       12118
        ...
447         1
1110        1
175         1
242         1
230         1
Name: count, Length: 943, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
420         1
313         1
1332        1
939         1
154         1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8       5012
5       4979
6       4721
10      4540
12      4540
        ...
3647       1
1574       1
3055       1
998        1
1882       1
Name: count, Length: 1750, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3      14386
2      14250
4      14016
0      10380
1      10083
       ...
418        1
881        1
405        1
757        1
978        1
Name: count, Length: 434, dtype: int64

Column: Type_of_Loan
Type_of_Loan
NaN                                                                                                     11408
Not Specified                                                                                            1408
Credit-Builder Loan                                                                                      1280
Personal Loan                                                                                            1272
Debt Consolidation Loan                                                                                  1264
                                                                                                        ...
Student Loan, Payday Loan, Credit-Builder Loan, and Student Loan                                            8
Student Loan, Home Equity Loan, Credit-Builder Loan, Debt Consolidation Loan, and Student Loan              8
Mortgage Loan, Home Equity Loan, Personal Loan, and Personal Loan                                           8
Debt Consolidation Loan, Mortgage Loan, Payday Loan, and Debt Consolidation Loan                            8
Auto Loan, Student Loan, Mortgage Loan, Mortgage Loan, Student Loan, Student Loan, and Mortgage Loan        8
Name: count, Length: 6261, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
2413       1
2142       1
2521       1
926        1
3329       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
         ...
33.61       1
30.1        1
30.71       1
26.8        1
27.24       1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2367.0        1
719.0         1
303.0         1
469.0         1
908.0         1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
460.46      23
1109.03     23
1286.59     16
            ..
814.52_      1
3842.25_     1
792.46_      1
66.47_       1
1265.83_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
34.082750    1
34.985115    1
33.352900    1
38.429307    1
36.447249    1
            ..
32.843081    1
32.330508    1
40.082272    1
38.149539    1
30.077191    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
72.626594           8
85.884942           8
66.860461           8
282.554889          8
                ...
10747.000000        1
320.505265          1
39608.000000        1
74296.000000        1
123.452331          1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
209.7765860965073        1
126.27883281259922       1
                      ...
83.00690942942404        1
145.11558108240214       1
287.12970664015666       1
43.697810883758066       1
289.9612607423692        1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
232.10799014599846                     1
309.75580030837335                     1
332.35272069997137                     1
                                    ...
259.37609463216137                     1
433.855914394654                       1
323.39633935663187                     1
318.52815618332363                     1
426.53556223571456                     1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [11]:
dataset.tail()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99995,0x25afd,CUS_0xffd,April,Damouniq,29.0,832-88-8320,Scientist,41398.44,3749.87,8,...,_,1701.88,36.384516,18 Years and 5 Months,Yes,182.976649,234.3549398533252,!@9#%8,247.65541069375956,Standard
99996,0x25afe,CUS_0xffd,May,Damouniq,29.0,832-88-8320,Scientist,41398.44,3749.87,8,...,Standard,1701.88,26.166508,18 Years and 6 Months,Yes,182.976649,104.6294735081563,High_spent_Medium_value_payments,337.3808770389285,Standard
99997,0x25aff,CUS_0xffd,June,NaN,29.0,832-88-8320,Scientist,41398.44,NaN,8,...,Standard,1701.88,36.970072,18 Years and 7 Months,Yes,182.976649,47.007378731604064,High_spent_Medium_value_payments,395.0029718154808,Standard
99998,0x25b00,CUS_0xffd,July,Damouniq,29.0,832-88-8320,Scientist,41398.44_,3749.87,8,...,Standard,1701.88,33.916363,18 Years and 8 Months,Yes,182.976649,257.98969352901736,High_spent_Small_value_payments,194.02065701806748,Good
99999,0x25b01,CUS_0xffd,August,Damouniq,30.0,832-88-8320,Scientist,41398.44,3749.87,8,...,Standard,1701.88,39.916655,18 Years and 9 Months,Yes,182.976649,42.57571978536272,High_spent_Large_value_payments,389.434630761722,Good

In [12]:
# Nettoyer la colonne 'Annual_Income'
# 1. Supprimer les underscores (_) et espaces
dataset['Annual_Income'] = dataset['Annual_Income'].str.replace('[^0-9.]', '', regex=True)

# Reconvertir en numérique
dataset['Annual_Income_Cleaned'] = pd.to_numeric(dataset['Annual_Income'], errors='coerce')

# Vérifier les valeurs uniques après nettoyage
unique_annual_income_cleaned = dataset['Annual_Income_Cleaned'].unique()

# Trier les valeurs pour un aperçu clair
unique_annual_income_cleaned.sort()

# Afficher les valeurs uniques nettoyées
print(unique_annual_income_cleaned)

[7.0059300e+03 7.0060350e+03 7.0065200e+03 ... 2.4177153e+07 2.4188807e+07
 2.4198062e+07]

In [13]:
# Identifier les lignes avec NaN dans 'Annual_Income_Cleaned'
nan_rows = dataset[dataset['Annual_Income_Cleaned'].isna()]

print("Lignes avec des valeurs NaN après nettoyage :")
print(nan_rows[['Annual_Income']])

Lignes avec des valeurs NaN après nettoyage :
Empty DataFrame
Columns: [Annual_Income]
Index: []

In [14]:
# Nettoyer davantage les valeurs : Supprimer tous les caractères sauf les chiffres et les points
dataset['Annual_Income'] = dataset['Annual_Income'].str.replace('[^0-9.]', '', regex=True)

# Reconvertir en numérique
dataset['Annual_Income_Cleaned'] = pd.to_numeric(dataset['Annual_Income'], errors='coerce')

In [15]:
dataset.describe()

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month,Annual_Income_Cleaned
count,100000.000000,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000,1.000000e+05
mean,33.293050,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217,1.764157e+05
std,10.773604,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270,1.429618e+06
min,14.000000,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000,7.005930e+03
25%,24.000000,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660,1.945750e+04
50%,33.000000,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473,3.757861e+04
75%,42.000000,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249,7.279092e+04
max,99.000000,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000,2.419806e+07

In [16]:
# Trouver le salaire mensuel maximum
max_monthly_salary = dataset['Monthly_Inhand_Salary'].max()

# Afficher le résultat
print(f"Le salaire mensuel maximum est : {max_monthly_salary}")

Le salaire mensuel maximum est : 15204.633333333331

In [17]:
# Trouver le salaire mensuel maximum
max_monthly_salary = dataset['Monthly_Inhand_Salary'].max()

# Afficher le résultat
print(f"Le salaire annuel maximum ne doit pas depasser : {max_monthly_salary*12}")

Le salaire annuel maximum ne doit pas depasser : 182455.59999999998

In [18]:
# Remplacer les valeurs d'Annual_Income_Cleaned > 182455.599
threshold = 182455.599

# Remplacer les valeurs aberrantes
dataset['Annual_Income_Cleaned'] = dataset.apply(
    lambda row: row['Monthly_Inhand_Salary'] * 12 if row['Annual_Income_Cleaned'] > threshold else row['Annual_Income_Cleaned'],
    axis=1
)

# Vérifier les mises à jour
print(dataset[['Customer_ID', 'Annual_Income_Cleaned', 'Monthly_Inhand_Salary']])

      Customer_ID  Annual_Income_Cleaned  Monthly_Inhand_Salary
0      CUS_0x1000               30625.94            2706.161667
1      CUS_0x1000               30625.94                    NaN
2      CUS_0x1000               30625.94            2706.161667
3      CUS_0x1000               30625.94            2706.161667
4      CUS_0x1000               30625.94            2706.161667
...           ...                    ...                    ...
99995   CUS_0xffd               41398.44            3749.870000
99996   CUS_0xffd               41398.44            3749.870000
99997   CUS_0xffd               41398.44                    NaN
99998   CUS_0xffd               41398.44            3749.870000
99999   CUS_0xffd               41398.44            3749.870000

[100000 rows x 3 columns]

In [19]:
count()

Column: ID
ID
0x344a     1
0x344b     1
0x344c     1
0x344d     1
0x344e     1
          ..
0x1628d    1
0x1628e    1
0x1628f    1
0x16290    1
0x16291    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0xffd     8
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
             ..
CUS_0x105b    8
CUS_0x105c    8
CUS_0x1063    8
CUS_0x1069    8
CUS_0x106f    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Jessicad                39
Vaughanl                39
                      ...
Matt Scuffhamk           4
ODonnell"w               4
Olesya Dmitracovaq       4
Robin Pomeroyz           4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
244-85-0461       8
489-16-3177       8
121-87-3090       8
345-45-3616       8
               ...
642-73-7670       4
331-28-1921       4
753-72-2651       4
838-33-4811       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Media_Manager    6720
Developer        6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
32543.38      16
36585.12      16
17273.83      16
109945.32     16
9141.63       16
              ..
7912130.0      1
14059195.0     1
22255601.0     1
18758037.0     1
2617379.0      1
Name: count, Length: 13487, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
2995.596667        1
962.761667         1
9204.888026        1
587.015817         1
1069.950000        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6       13001
7       12823
8       12765
4       12186
5       12118
        ...
447         1
1110        1
175         1
242         1
230         1
Name: count, Length: 943, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
420         1
313         1
1332        1
939         1
154         1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8       5012
5       4979
6       4721
10      4540
12      4540
        ...
3647       1
1574       1
3055       1
998        1
1882       1
Name: count, Length: 1750, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3      14386
2      14250
4      14016
0      10380
1      10083
       ...
418        1
881        1
405        1
757        1
978        1
Name: count, Length: 434, dtype: int64

Column: Type_of_Loan
Type_of_Loan
NaN                                                                                                     11408
Not Specified                                                                                            1408
Credit-Builder Loan                                                                                      1280
Personal Loan                                                                                            1272
Debt Consolidation Loan                                                                                  1264
                                                                                                        ...
Student Loan, Payday Loan, Credit-Builder Loan, and Student Loan                                            8
Student Loan, Home Equity Loan, Credit-Builder Loan, Debt Consolidation Loan, and Student Loan              8
Mortgage Loan, Home Equity Loan, Personal Loan, and Personal Loan                                           8
Debt Consolidation Loan, Mortgage Loan, Payday Loan, and Debt Consolidation Loan                            8
Auto Loan, Student Loan, Mortgage Loan, Mortgage Loan, Student Loan, Student Loan, and Mortgage Loan        8
Name: count, Length: 6261, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
2413       1
2142       1
2521       1
926        1
3329       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
         ...
33.61       1
30.1        1
30.71       1
26.8        1
27.24       1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2367.0        1
719.0         1
303.0         1
469.0         1
908.0         1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
460.46      23
1109.03     23
1286.59     16
            ..
814.52_      1
3842.25_     1
792.46_      1
66.47_       1
1265.83_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
34.082750    1
34.985115    1
33.352900    1
38.429307    1
36.447249    1
            ..
32.843081    1
32.330508    1
40.082272    1
38.149539    1
30.077191    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
72.626594           8
85.884942           8
66.860461           8
282.554889          8
                ...
10747.000000        1
320.505265          1
39608.000000        1
74296.000000        1
123.452331          1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
209.7765860965073        1
126.27883281259922       1
                      ...
83.00690942942404        1
145.11558108240214       1
287.12970664015666       1
43.697810883758066       1
289.9612607423692        1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
232.10799014599846                     1
309.75580030837335                     1
332.35272069997137                     1
                                    ...
259.37609463216137                     1
433.855914394654                       1
323.39633935663187                     1
318.52815618332363                     1
426.53556223571456                     1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

Column: Annual_Income_Cleaned
Annual_Income_Cleaned
NaN          147
32543.38      16
36585.12      16
40341.16      16
20867.67      16
            ...
128720.67      1
64423.12       1
58307.96       1
31584.96       1
93529.92       1
Name: count, Length: 13316, dtype: int64

In [20]:
# Compter la fréquence de chaque valeur unique dans Num_Bank_Accounts
value_counts_table = dataset['Num_Bank_Accounts'].value_counts().sort_index()

# Convertir en DataFrame pour affichage clair
value_counts_df = value_counts_table.reset_index()
value_counts_df.columns = ['Num_Bank_Accounts', 'Frequency']

# Afficher le tableau complet
print(value_counts_df.to_string(index=False))

 Num_Bank_Accounts  Frequency
                -1         21
                 0       4328
                 1       4490
                 2       4304
                 3      11950
                 4      12186
                 5      12118
                 6      13001
                 7      12823
                 8      12765
                 9       5443
                10       5247
                11          9
                18          1
                26          1
                27          1
                28          3
                29          1
                30          1
                31          1
                32          1
                33          2
                34          4
                35          1
                37          3
                38          1
                39          3
                40          1
                41          1
                42          2
                43          4
                45          1
                49          1
                50          1
                53          1
                55          1
                57          2
                59          1
                60          1
                61          1
                64          1
                67          2
                68          2
                69          1
                70          2
                72          1
                74          2
                75          1
                77          1
                79          2
                82          1
                83          2
                84          1
                87          1
                91          1
                92          1
                93          1
                94          1
                97          1
                99          1
               100          1
               103          2
               104          1
               105          5
               108          1
               109          1
               112          2
               115          2
               116          1
               119          1
               120          2
               121          2
               122          1
               124          1
               125          1
               129          1
               135          1
               136          1
               137          3
               140          1
               142          1
               143          2
               145          1
               147          1
               148          2
               151          1
               156          1
               157          1
               158          1
               159          1
               160          2
               161          1
               162          2
               166          2
               167          1
               170          3
               172          1
               175          1
               179          3
               180          1
               182          2
               184          1
               186          1
               193          1
               194          1
               195          1
               196          3
               197          1
               198          1
               201          2
               203          1
               205          1
               210          4
               211          1
               212          1
               216          1
               217          2
               218          1
               222          2
               224          2
               226          2
               228          1
               229          3
               230          1
               232          1
               239          3
               240          2
               242          1
               243          1
               244          2
               245          1
               246          2
               259          1
               260          1
               264          2
               265          3
               270          1
               271          1
               272          1
               274          2
               275          1
               280          2
               281          1
               283          1
               285          1
               288          2
               290          1
               292          1
               295          1
               296          1
               298          1
               299          1
               300          1
               302          1
               303          1
               304          2
               305          2
               307          1
               308          1
               310          1
               312          4
               313          3
               314          2
               316          2
               317          1
               318          2
               322          2
               324          1
               326          1
               327          1
               328          1
               330          3
               331          1
               333          2
               334          1
               335          1
               338          2
               339          2
               340          1
               341          2
               342          1
               346          1
               347          1
               350          3
               351          2
               352          1
               353          1
               354          2
               356          1
               358          1
               360          1
               364          1
               368          1
               371          2
               373          1
               374          2
               375          1
               376          1
               383          2
               385          3
               386          2
               392          1
               394          1
               396          1
               397          1
               406          1
               409          1
               411          1
               415          2
               416          2
               417          2
               418          1
               420          1
               421          1
               423          1
               424          2
               425          1
               427          1
               429          2
               430          2
               434          1
               435          2
               440          1
               441          2
               442          1
               443          1
               444          1
               445          1
               446          1
               447          1
               448          1
               449          1
               450          1
               453          1
               455          2
               456          2
               460          1
               462          1
               463          1
               464          2
               466          1
               467          2
               468          2
               471          2
               472          1
               473          2
               474          1
               475          1
               476          1
               480          2
               481          1
               482          1
               483          3
               484          1
               485          1
               488          1
               489          1
               490          3
               493          1
               494          2
               497          1
               499          1
               501          2
               505          3
               506          1
               508          1
               510          1
               511          3
               512          1
               514          1
               518          1
               521          2
               523          1
               524          1
               525          1
               526          2
               527          3
               528          1
               530          2
               534          1
               535          2
               539          1
               540          3
               541          1
               546          1
               547          1
               548          1
               549          2
               550          1
               555          1
               556          1
               560          3
               561          1
               563          2
               564          1
               565          1
               566          2
               569          1
               570          2
               572          2
               574          1
               575          2
               577          1
               580          1
               581          1
               582          1
               583          1
               584          3
               587          2
               588          1
               589          1
               591          1
               594          2
               595          1
               596          3
               598          1
               603          1
               604          1
               606          1
               607          1
               609          1
               610          3
               611          2
               616          2
               618          1
               619          1
               620          2
               621          1
               622          1
               624          2
               626          1
               627          1
               628          1
               632          3
               636          1
               637          1
               641          1
               645          2
               647          1
               648          1
               649          2
               650          1
               651          1
               652          1
               654          1
               657          1
               665          1
               666          1
               667          1
               670          1
               672          1
               675          1
               676          1
               677          1
               678          1
               680          1
               681          1
               683          2
               684          1
               685          1
               687          3
               688          1
               689          1
               690          1
               691          1
               695          1
               696          2
               697          1
               698          1
               701          2
               702          1
               703          1
               705          2
               706          1
               707          1
               708          2
               709          1
               710          2
               711          1
               713          1
               714          1
               715          1
               717          1
               718          1
               719          1
               720          1
               722          1
               724          1
               725          1
               726          1
               731          1
               732          1
               734          1
               738          1
               741          1
               744          2
               746          1
               752          1
               753          1
               754          1
               756          1
               758          1
               761          2
               769          2
               770          1
               771          1
               774          1
               777          2
               782          1
               784          1
               785          1
               786          3
               789          1
               791          5
               794          1
               795          1
               796          1
               797          1
               801          2
               802          1
               803          7
               804          1
               805          3
               808          1
               809          3
               811          1
               812          3
               813          1
               814          1
               817          1
               818          2
               819          1
               820          1
               821          2
               822          2
               823          2
               825          1
               826          2
               828          1
               829          1
               830          1
               831          1
               832          3
               833          1
               834          1
               837          1
               839          1
               840          1
               844          2
               845          2
               847          1
               848          1
               850          3
               851          1
               854          1
               856          1
               857          4
               858          1
               860          1
               861          1
               864          2
               865          2
               867          1
               868          2
               870          1
               871          2
               875          1
               882          3
               885          2
               886          1
               887          1
               888          1
               889          3
               891          1
               892          2
               894          1
               897          1
               901          1
               903          3
               905          1
               907          1
               908          1
               912          2
               916          2
               918          2
               921          2
               926          2
               927          3
               928          1
               929          1
               931          2
               932          1
               933          3
               935          1
               936          1
               938          1
               940          1
               942          1
               944          1
               946          1
               947          1
               949          1
               950          1
               955          2
               957          1
               959          1
               964          1
               967          1
               968          1
               969          1
               970          1
               971          1
               972          1
               973          1
               974          2
               975          1
               976          1
               978          1
               979          1
               980          1
               981          1
               982          1
               983          1
               987          1
               991          2
               992          1
               993          1
               996          1
               997          2
               999          1
              1000          1
              1001          2
              1002          1
              1003          1
              1005          1
              1011          2
              1012          1
              1013          1
              1014          1
              1015          1
              1016          2
              1017          1
              1018          1
              1019          1
              1022          1
              1024          1
              1026          2
              1028          1
              1031          1
              1032          1
              1033          4
              1034          1
              1036          1
              1037          1
              1039          1
              1040          1
              1041          2
              1042          2
              1043          1
              1047          2
              1048          2
              1049          1
              1051          3
              1060          1
              1061          2
              1063          1
              1065          3
              1067          2
              1069          2
              1070          1
              1072          1
              1075          1
              1076          2
              1077          1
              1078          1
              1079          1
              1080          1
              1083          2
              1089          3
              1091          1
              1093          2
              1094          1
              1095          1
              1096          4
              1100          1
              1101          2
              1102          1
              1105          1
              1107          1
              1110          1
              1113          2
              1114          3
              1115          1
              1117          1
              1122          2
              1123          1
              1124          3
              1126          1
              1128          1
              1131          1
              1134          1
              1135          2
              1137          3
              1138          2
              1139          4
              1140          1
              1141          1
              1145          1
              1146          1
              1148          1
              1151          1
              1153          1
              1155          2
              1157          1
              1158          1
              1164          1
              1165          2
              1166          2
              1168          1
              1169          1
              1174          2
              1178          1
              1181          1
              1182          1
              1184          1
              1190          2
              1194          2
              1195          1
              1197          2
              1200          1
              1201          2
              1205          1
              1207          1
              1210          1
              1211          1
              1213          1
              1214          2
              1216          1
              1217          1
              1218          1
              1219          1
              1221          1
              1222          2
              1225          2
              1230          1
              1231          2
              1235          1
              1236          1
              1239          2
              1240          1
              1241          1
              1247          3
              1249          1
              1250          1
              1252          1
              1253          1
              1255          1
              1256          1
              1257          4
              1261          1
              1263          1
              1264          2
              1265          2
              1266          2
              1267          1

In [21]:
dataset[(dataset['Num_Bank_Accounts'] == 11)]
dataset[(dataset['Customer_ID'] == "CUS_0x6cd1")]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Annual_Income_Cleaned
49600,0x1d5e6,CUS_0x6cd1,January,Davidc,19.0,659-11-2212,Mechanic,81338.16,6642.18,10,...,4455.19,26.722549,13 Years and 10 Months,Yes,356.766533,137.63861680216834,High_spent_Large_value_payments,409.81285066587685,Poor,81338.16
49601,0x1d5e7,CUS_0x6cd1,February,Davidc,19.0,659-11-2212,Mechanic,81338.16,6642.18,10,...,4455.19,35.151695,13 Years and 11 Months,Yes,356.766533,143.5125510419868,High_spent_Large_value_payments,403.93891642605837,Poor,81338.16
49602,0x1d5e8,CUS_0x6cd1,March,Davidc,19.0,659-11-2212,Mechanic,81338.16,6642.18,10,...,4455.19,32.150528,14 Years and 0 Months,Yes,356.766533,73.17213387936616,High_spent_Medium_value_payments,484.27933358867904,Poor,81338.16
49603,0x1d5e9,CUS_0x6cd1,April,NaN,19.0,659-11-2212,Mechanic,81338.16,6642.18,10,...,4455.19,40.396707,14 Years and 1 Months,Yes,356.766533,121.50057052145479,High_spent_Large_value_payments,425.9508969465903,Poor,81338.16
49604,0x1d5ea,CUS_0x6cd1,May,NaN,19.0,659-11-2212,Mechanic,81338.16,NaN,11,...,4455.19,38.920459,14 Years and 2 Months,Yes,356.766533,166.49892146752126,High_spent_Large_value_payments,380.95254600052397,Standard,81338.16
49605,0x1d5eb,CUS_0x6cd1,June,Davidc,19.0,659-11-2212,Mechanic,81338.16,6642.18,11,...,4455.19,35.039484,14 Years and 3 Months,NM,356.766533,62.049075932509396,High_spent_Large_value_payments,485.4023915355358,Poor,81338.16
49606,0x1d5ec,CUS_0x6cd1,July,NaN,19.0,659-11-2212,Mechanic,81338.16,6642.18,11,...,4455.19,35.065436,14 Years and 4 Months,Yes,356.766533,359.8894705458568,High_spent_Small_value_payments,207.56199692218846,Standard,81338.16
49607,0x1d5ed,CUS_0x6cd1,August,Davidc,20.0,659-11-2212,Mechanic,81338.16,6642.18,11,...,4455.19,28.261134,14 Years and 5 Months,Yes,356.766533,441.52624142297316,Low_spent_Large_value_payments,135.925226045072,Poor,81338.16

In [22]:
# Réinitialiser l'index pour éviter les conflits
dataset = dataset.reset_index(drop=True)

# Convertir Num_Bank_Accounts en numérique, gérer les erreurs
dataset['Num_Bank_Accounts'] = pd.to_numeric(dataset['Num_Bank_Accounts'], errors='coerce')

# Fonction pour corriger les valeurs aberrantes dans Num_Bank_Accounts
def replace_invalid_accounts(group):
    # Filtrer les valeurs valides (entre 0 et 10 inclus)
    valid_accounts = group['Num_Bank_Accounts'][(group['Num_Bank_Accounts'] >= 0) & (group['Num_Bank_Accounts'] <= 12)]
    if not valid_accounts.empty:
        # Utiliser la première valeur valide trouvée pour remplacement
        replacement_value = valid_accounts.iloc[0]
        group['Num_Bank_Accounts'] = group['Num_Bank_Accounts'].apply(
            lambda x: replacement_value if pd.isnull(x) or x < 0 or x > 12 else x
        )
    return group

# Appliquer uniquement à la colonne 'Num_Bank_Accounts' groupée par Customer_ID
dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_accounts)

# Réinitialiser l'index final
dataset = dataset.reset_index(drop=True)

# Sauvegarder le DataFrame corrigé
dataset.to_csv("num_bank_accounts_corrige.csv", index=False)

print("Les valeurs aberrantes dans 'Num_Bank_Accounts' ont été corrigées.")

/tmp/ipykernel_404045/1912611631.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_accounts)

Les valeurs aberrantes dans 'Num_Bank_Accounts' ont été corrigées.

In [23]:
dataset.describe()

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month,Annual_Income_Cleaned
count,100000.000000,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000,99853.000000
mean,33.293050,4194.170850,5.368800,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217,50500.235504
std,10.773604,3183.686167,2.593248,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270,38293.100974
min,14.000000,303.645417,0.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000,3989.175000
25%,24.000000,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660,19344.270000
50%,33.000000,3093.745000,5.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473,37006.600000
75%,42.000000,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249,71677.590000
max,99.000000,15204.633333,11.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000,182006.160000

In [24]:
# Compter la fréquence de chaque valeur unique dans Num_Bank_Accounts
value_counts_table = dataset['Interest_Rate'].value_counts().sort_index()

# Convertir en DataFrame pour affichage clair
value_counts_df = value_counts_table.reset_index()
value_counts_df.columns = ['Interest_Rate', 'Frequency']

# Afficher le tableau complet
print(value_counts_df.to_string(index=False))

 Interest_Rate  Frequency
             1       2683
             2       2465
             3       2765
             4       2589
             5       4979
             6       4721
             7       4494
             8       5012
             9       4494
            10       4540
            11       4428
            12       4540
            13       2384
            14       2229
            15       3992
            16       3730
            17       3813
            18       4102
            19       3630
            20       3929
            21       1560
            22       1720
            23       1683
            24       1685
            25       1566
            26       1489
            27       1608
            28       1616
            29       1662
            30       1690
            31       1457
            32       1742
            33       1467
            34       1502
            59          1
            60          1
            64          1
            67          1
            73          1
            74          1
            75          2
            76          2
            77          1
            81          1
            87          1
            89          1
            91          1
            92          1
            94          1
            95          2
            98          1
            99          1
           100          1
           101          1
           102          1
           106          1
           107          2
           108          1
           113          1
           115          2
           120          1
           128          2
           136          1
           137          1
           140          1
           142          1
           144          1
           146          2
           151          1
           159          1
           160          1
           162          1
           170          1
           174          1
           177          1
           186          1
           197          1
           200          1
           203          1
           206          1
           207          3
           208          1
           213          1
           215          1
           219          1
           224          2
           232          1
           238          2
           243          2
           246          1
           247          1
           249          1
           259          1
           260          1
           261          1
           262          1
           265          1
           268          1
           271          1
           274          1
           279          1
           281          1
           284          1
           286          2
           288          1
           289          2
           290          2
           291          1
           295          1
           296          1
           297          1
           299          1
           306          1
           312          1
           316          1
           318          1
           323          1
           326          1
           328          2
           330          1
           332          1
           334          1
           343          1
           348          2
           355          1
           356          1
           360          2
           362          1
           363          1
           369          1
           370          1
           373          2
           375          1
           377          1
           378          1
           381          1
           382          2
           387          1
           388          1
           390          1
           391          1
           393          1
           401          1
           404          1
           405          2
           406          1
           407          1
           410          1
           411          2
           413          1
           417          1
           418          1
           419          1
           422          1
           426          1
           430          1
           433          3
           438          1
           440          1
           441          1
           443          2
           447          1
           448          1
           450          1
           453          1
           454          1
           455          1
           457          1
           459          1
           464          1
           465          1
           468          1
           470          1
           471          1
           472          1
           473          1
           482          1
           493          1
           494          1
           495          1
           498          4
           501          1
           504          1
           511          1
           519          1
           520          1
           524          1
           525          1
           527          2
           531          1
           533          1
           536          1
           552          3
           554          1
           556          2
           561          1
           563          1
           567          1
           570          1
           572          1
           577          1
           581          1
           583          1
           584          1
           591          1
           596          1
           601          1
           608          1
           609          1
           610          1
           612          1
           613          1
           620          1
           623          1
           624          1
           629          1
           634          1
           639          1
           642          1
           648          1
           652          1
           661          1
           668          1
           671          2
           672          2
           674          1
           679          1
           682          1
           684          1
           689          1
           690          1
           692          1
           696          1
           702          1
           707          1
           710          1
           713          1
           716          1
           718          1
           720          1
           726          1
           729          1
           731          1
           732          1
           733          1
           736          1
           738          1
           739          2
           748          2
           749          1
           750          1
           751          1
           753          1
           754          1
           757          1
           758          2
           774          1
           778          1
           780          1
           781          1
           792          1
           794          1
           795          1
           797          1
           799          1
           802          1
           804          1
           808          2
           810          1
           816          2
           818          1
           819          1
           820          1
           821          2
           823          1
           826          1
           835          1
           844          2
           845          2
           846          2
           849          1
           854          1
           858          1
           863          1
           866          1
           870          1
           872          2
           873          2
           881          1
           883          1
           887          1
           888          1
           889          1
           890          1
           903          1
           906          1
           910          1
           913          1
           916          1
           917          2
           918          1
           922          1
           926          1
           929          2
           935          1
           936          1
           937          1
           938          1
           939          1
           940          1
           946          2
           948          1
           949          1
           954          2
           955          1
           956          1
           963          1
           964          3
           965          1
           967          1
           968          1
           971          1
           972          1
           974          2
           981          1
           982          1
           987          1
           988          1
           989          1
           990          2
           991          1
           996          1
           997          1
           998          1
          1002          1
          1004          1
          1010          1
          1012          2
          1014          2
          1019          2
          1024          1
          1025          1
          1027          1
          1028          1
          1030          1
          1032          1
          1033          1
          1037          1
          1044          2
          1051          1
          1052          1
          1053          1
          1060          1
          1071          1
          1079          1
          1081          1
          1082          1
          1084          1
          1085          1
          1086          1
          1087          1
          1090          1
          1091          1
          1093          1
          1095          1
          1100          1
          1106          1
          1109          2
          1110          1
          1111          1
          1112          1
          1113          2
          1115          1
          1117          1
          1120          1
          1127          2
          1128          1
          1132          2
          1133          1
          1138          1
          1142          1
          1144          1
          1145          1
          1152          1
          1156          1
          1160          1
          1161          1
          1164          1
          1165          2
          1169          2
          1171          1
          1172          1
          1173          1
          1175          1
          1176          2
          1179          1
          1189          1
          1191          3
          1192          1
          1195          1
          1196          1
          1200          1
          1202          1
          1205          1
          1208          3
          1212          1
          1215          1
          1217          2
          1221          2
          1224          3
          1227          2
          1228          1
          1229          1
          1232          1
          1237          1
          1245          2
          1246          1
          1248          1
          1251          1
          1253          1
          1258          1
          1262          1
          1265          1
          1266          1
          1267          1
          1272          2
          1274          1
          1275          3
          1277          2
          1287          1
          1292          3
          1293          1
          1294          1
          1297          1
          1303          1
          1304          1
          1305          1
          1310          1
          1313          1
          1319          2
          1322          1
          1325          1
          1326          1
          1329          1
          1331          1
          1333          1
          1337          1
          1345          1
          1347          1
          1350          2
          1352          2
          1360          1
          1363          1
          1367          1
          1371          1
          1379          1
          1380          2
          1383          1
          1384          3
          1390          1
          1391          1
          1392          2
          1396          1
          1397          1
          1413          1
          1424          1
          1426          1
          1429          1
          1434          2
          1439          2
          1442          2
          1443          2
          1450          1
          1459          1
          1462          1
          1464          1
          1473          1
          1475          1
          1478          1
          1479          1
          1480          2
          1482          1
          1486          1
          1487          1
          1495          1
          1496          1
          1499          1
          1508          2
          1511          1
          1519          1
          1522          1
          1523          1
          1525          1
          1529          1
          1535          1
          1550          1
          1551          1
          1553          2
          1558          1
          1562          1
          1570          1
          1574          1
          1579          1
          1580          2
          1583          1
          1585          1
          1586          1
          1589          1
          1590          2
          1592          1
          1601          1
          1603          1
          1606          2
          1615          2
          1617          2
          1618          1
          1619          1
          1620          1
          1621          2
          1626          1
          1627          1
          1629          1
          1634          1
          1641          1
          1646          2
          1649          2
          1655          1
          1661          1
          1662          1
          1663          1
          1667          1
          1669          2
          1671          1
          1680          2
          1683          1
          1684          1
          1685          1
          1688          1
          1690          1
          1692          1
          1693          1
          1696          1
          1698          1
          1703          1
          1708          1
          1713          1
          1718          1
          1719          1
          1723          1
          1729          2
          1738          1
          1740          1
          1741          1
          1754          1
          1755          1
          1756          1
          1758          1
          1760          1
          1767          1
          1773          1
          1778          2
          1780          1
          1787          1
          1789          1
          1794          1
          1802          1
          1803          1
          1807          1
          1812          1
          1813          1
          1816          1
          1822          1
          1830          1
          1832          1
          1833          1
          1839          1
          1842          1
          1846          1
          1861          1
          1866          1
          1869          1
          1874          1
          1876          1
          1878          1
          1881          1
          1882          1
          1884          3
          1886          1
          1895          1
          1898          1
          1899          1
          1902          1
          1904          1
          1906          2
          1908          1
          1909          2
          1913          3
          1918          2
          1920          1
          1921          1
          1922          1
          1927          1
          1935          1
          1942          1
          1944          4
          1947          2
          1951          1
          1960          1
          1965          1
          1966          1
          1970          2
          1972          1
          1976          1
          1982          1
          1984          1
          1985          1
          1996          1
          1998          1
          1999          1
          2003          1
          2011          1
          2014          1
          2015          1
          2017          2
          2023          2
          2025          1
          2030          1
          2034          1
          2037          2
          2041          1
          2054          1
          2055          1
          2056          1
          2057          1
          2059          3
          2060          2
          2061          1
          2063          2
          2069          2
          2071          1
          2076          1
          2077          1
          2078          1
          2080          1
          2081          1
          2084          1
          2091          3
          2093          1
          2094          1
          2096          1
          2098          1
          2099          1
          2104          1
          2109          1
          2113          2
          2114          1
          2118          1
          2119          1
          2120          1
          2121          1
          2123          1
          2125          2
          2127          2
          2129          2
          2131          1
          2133          1
          2136          2
          2139          1
          2140          1
          2142          1
          2147          1
          2157          1
          2158          3
          2159          1
          2165          1
          2168          1
          2170          1
          2171          1
          2172          2
          2173          3
          2180          1
          2183          2
          2189          1
          2192          1
          2194          1
          2197          1
          2199          2
          2200          1
          2201          1
          2203          1
          2205          1
          2206          1
          2209          1
          2216          1
          2217          2
          2225          1
          2226          1
          2227          1
          2229          1
          2232          1
          2235          1
          2238          1
          2252          1
          2257          1
          2258          1
          2259          1
          2267          1
          2270          1
          2278          1
          2279          1
          2284          1
          2286          1
          2290          1
          2299          1
          2300          1
          2301          2
          2302          1
          2304          3
          2305          1
          2308          1
          2309          2
          2310          1
          2318          1
          2319          1
          2323          2
          2325          1
          2326          1
          2327          1
          2329          1
          2330          1
          2336          1
          2337          1
          2338          1
          2340          1
          2342          1
          2343          1
          2347          1
          2348          1
          2356          1
          2357          1
          2361          1
          2366          1
          2367          1
          2369          1
          2370          2
          2372          1
          2374          1
          2377          1
          2379          1
          2382          1
          2383          1
          2388          2
          2393          1
          2398          1
          2401          1
          2403          1
          2410          1
          2413          1
          2417          1
          2428          1
          2430          1
          2431          2
          2435          1
          2438          2
          2440          1
          2441          1
          2444          1
          2449          1

In [25]:
print(dataset[(dataset["Customer_ID"] == "CUS_0x5f90")].Interest_Rate)

42168    14
42169    14
42170    59
42171    14
42172    14
42173    14
42174    14
42175    14
Name: Interest_Rate, dtype: int64

In [26]:
# Réinitialiser l'index pour éviter les conflits
dataset = dataset.reset_index(drop=True)

# Convertir Interest_Rate en numérique, gérer les erreurs
dataset['Interest_Rate'] = pd.to_numeric(dataset['Interest_Rate'], errors='coerce')

# Fonction pour corriger les valeurs aberrantes dans Interest_Rate
def replace_invalid_interest_rate(group):
    # Filtrer les valeurs valides (entre 0 et 35 inclus)
    valid_interest = group['Interest_Rate'][(group['Interest_Rate'] >= 0) & (group['Interest_Rate'] <= 35)]
    if not valid_interest.empty:
        # Utiliser la première valeur valide trouvée pour remplacement
        replacement_value = valid_interest.iloc[0]
        group['Interest_Rate'] = group['Interest_Rate'].apply(
            lambda x: replacement_value if pd.isnull(x) or x < 0 or x > 35 else x
        )
    return group

# Appliquer uniquement à la colonne 'Interest_Rate' groupée par Customer_ID
dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_interest_rate)

# Réinitialiser l'index final
dataset = dataset.reset_index(drop=True)

# Sauvegarder le DataFrame corrigé
dataset.to_csv("interest_rate_corrige.csv", index=False)

print("Les valeurs aberrantes dans 'Interest_Rate' ont été corrigées.")

/tmp/ipykernel_404045/1709041072.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_interest_rate)

Les valeurs aberrantes dans 'Interest_Rate' ont été corrigées.

In [27]:
dataset.describe()

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month,Annual_Income_Cleaned
count,100000.000000,84998.000000,100000.000000,100000.00000,100000.00000,100000.000000,98035.000000,100000.000000,100000.000000,99853.000000
mean,33.293050,4194.170850,5.368800,22.47443,14.53208,21.068780,27.754251,32.285173,1403.118217,50500.235504
std,10.773604,3183.686167,2.593248,129.05741,8.74133,14.860104,193.177339,5.116875,8306.041270,38293.100974
min,14.000000,303.645417,0.000000,0.00000,1.00000,-5.000000,0.000000,20.000000,0.000000,3989.175000
25%,24.000000,1625.568229,3.000000,4.00000,7.00000,10.000000,3.000000,28.052567,30.306660,19344.270000
50%,33.000000,3093.745000,5.000000,5.00000,13.00000,18.000000,6.000000,32.305784,69.249473,37006.600000
75%,42.000000,5957.448333,7.000000,7.00000,20.00000,28.000000,9.000000,36.496663,161.224249,71677.590000
max,99.000000,15204.633333,11.000000,1499.00000,34.00000,67.000000,2597.000000,50.000000,82331.000000,182006.160000

In [28]:
# Nettoyer davantage les valeurs : Supprimer tous les caractères sauf les chiffres et les points
dataset['Num_of_Loan'] = dataset['Num_of_Loan'].str.replace('[^0-9.]', '', regex=True)

# Reconvertir en numérique
dataset['Num_of_Loan_Cleaned'] = pd.to_numeric(dataset['Num_of_Loan'], errors='coerce')

In [29]:
# Compter la fréquence de chaque valeur unique dans Num_Bank_Accounts
value_counts_table = dataset['Num_of_Loan_Cleaned'].value_counts().sort_index()

# Convertir en DataFrame pour affichage clair
value_counts_df = value_counts_table.reset_index()
value_counts_df.columns = ['Num_of_Loan_Cleaned', 'Frequency']

# Afficher le tableau complet
print(value_counts_df[(value_counts_df["Frequency"]<= 8)].to_string(index=False))

 Num_of_Loan_Cleaned  Frequency
                  17          1
                  18          1
                  19          1
                  23          2
                  27          1
                  29          1
                  31          2
                  32          1
                  33          2
                  39          1
                  41          1
                  49          2
                  50          2
                  52          1
                  54          1
                  55          1
                  56          1
                  58          2
                  65          1
                  70          1
                  78          1
                  83          1
                  84          1
                  87          1
                  89          1
                  92          1
                  95          2
                 101          1
                 103          1
                 119          1
                 123          1
                 126          1
                 131          1
                 132          1
                 136          1
                 137          1
                 138          1
                 141          2
                 143          2
                 146          1
                 147          1
                 148          1
                 153          1
                 157          1
                 164          1
                 172          2
                 174          1
                 182          1
                 186          1
                 190          1
                 191          1
                 192          2
                 193          1
                 196          1
                 198          1
                 201          1
                 208          1
                 215          1
                 216          1
                 217          2
                 227          2
                 228          1
                 229          2
                 231          1
                 235          1
                 237          1
                 238          1
                 241          1
                 242          1
                 243          1
                 251          2
                 252          1
                 254          1
                 267          1
                 274          1
                 275          2
                 280          1
                 282          1
                 284          2
                 285          1
                 288          3
                 289          1
                 290          2
                 291          1
                 292          1
                 295          1
                 300          1
                 302          1
                 311          1
                 313          1
                 316          1
                 319          1
                 321          1
                 323          1
                 329          1
                 330          2
                 332          1
                 336          1
                 341          1
                 344          1
                 348          1
                 349          1
                 350          1
                 351          1
                 352          2
                 359          2
                 365          1
                 372          1
                 378          1
                 387          1
                 392          1
                 394          1
                 404          2
                 405          1
                 415          1
                 416          1
                 418          1
                 420          1
                 424          1
                 430          3
                 433          1
                 437          1
                 438          1
                 439          1
                 444          1
                 447          1
                 449          1
                 455          1
                 457          1
                 462          1
                 463          1
                 464          1
                 466          2
                 472          1
                 484          1
                 492          1
                 494          1
                 497          1
                 501          2
                 504          1
                 507          1
                 510          1
                 515          1
                 520          1
                 526          1
                 527          2
                 529          1
                 538          1
                 540          1
                 545          1
                 546          1
                 548          1
                 562          1
                 563          1
                 571          1
                 574          1
                 579          1
                 581          1
                 590          1
                 596          1
                 597          2
                 601          1
                 606          1
                 613          1
                 614          1
                 617          1
                 621          1
                 622          1
                 628          1
                 629          1
                 630          1
                 633          1
                 635          1
                 636          1
                 638          1
                 639          1
                 640          1
                 649          1
                 652          1
                 653          1
                 654          1
                 656          1
                 657          1
                 659          1
                 661          2
                 662          1
                 663          1
                 679          1
                 684          1
                 686          1
                 696          2
                 697          2
                 699          1
                 701          1
                 716          1
                 719          1
                 720          1
                 728          1
                 733          2
                 737          1
                 742          1
                 745          1
                 752          1
                 753          1
                 757          1
                 773          3
                 777          1
                 778          1
                 781          1
                 785          1
                 795          1
                 799          1
                 801          1
                 802          1
                 809          1
                 814          1
                 816          1
                 819          1
                 820          1
                 831          1
                 832          1
                 833          1
                 834          1
                 838          1
                 841          1
                 843          1
                 848          1
                 855          2
                 859          1
                 860          1
                 863          1
                 867          1
                 868          1
                 869          1
                 873          1
                 875          2
                 881          1
                 889          1
                 891          1
                 895          1
                 897          1
                 898          2
                 904          1
                 905          1
                 910          1
                 911          2
                 917          1
                 924          1
                 926          1
                 927          1
                 931          1
                 935          1
                 936          2
                 939          1
                 940          1
                 943          1
                 945          1
                 952          1
                 955          2
                 958          1
                 961          1
                 966          1
                 967          1
                 968          1
                 978          1
                 983          1
                 991          1
                 995          1
                 996          1
                 999          1
                1001          1
                1002          1
                1006          1
                1008          1
                1014          1
                1015          1
                1017          2
                1019          1
                1023          1
                1027          1
                1030          1
                1035          1
                1036          1
                1039          1
                1040          1
                1046          1
                1047          1
                1048          1
                1053          1
                1054          1
                1070          1
                1074          1
                1077          1
                1085          1
                1088          1
                1091          1
                1094          1
                1096          1
                1103          1
                1106          1
                1110          1
                1112          1
                1127          2
                1129          2
                1131          2
                1132          1
                1135          1
                1137          1
                1150          4
                1151          1
                1152          1
                1154          1
                1159          1
                1160          1
                1171          1
                1178          1
                1181          2
                1182          1
                1185          1
                1187          1
                1189          1
                1196          1
                1202          1
                1204          1
                1209          2
                1210          1
                1214          2
                1216          1
                1217          2
                1219          1
                1222          1
                1225          2
                1227          1
                1228          3
                1236          2
                1241          2
                1257          1
                1259          2
                1265          1
                1271          1
                1274          1
                1279          1
                1289          1
                1294          1
                1296          1
                1297          1
                1298          1
                1300          1
                1302          1
                1307          1
                1311          1
                1312          1
                1313          1
                1318          1
                1319          1
                1320          2
                1329          1
                1340          1
                1345          1
                1347          1
                1348          1
                1353          2
                1354          2
                1359          1
                1363          1
                1365          2
                1369          1
                1371          1
                1372          1
                1382          1
                1384          2
                1387          1
                1391          1
                1393          1
                1400          1
                1406          1
                1412          2
                1416          1
                1419          1
                1424          1
                1430          1
                1433          1
                1439          1
                1441          1
                1444          1
                1447          1
                1451          1
                1457          1
                1459          1
                1461          1
                1463          2
                1464          2
                1465          1
                1470          1
                1474          1
                1478          1
                1480          3
                1482          1
                1484          1
                1485          1
                1495          1
                1496          1

In [30]:
# Nettoyer davantage les valeurs : Supprimer tous les caractères sauf les chiffres et les points
dataset['Num_of_Loan'] = dataset['Num_of_Loan'].str.replace('[^0-9.]', '', regex=True)

# Reconvertir en numérique
dataset['Num_of_Loan_Cleaned'] = pd.to_numeric(dataset['Num_of_Loan'], errors='coerce')

In [31]:
dataset[(dataset["Num_of_Loan_Cleaned"] == 100)]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Annual_Income_Cleaned,Num_of_Loan_Cleaned
54,0x1f6e0,CUS_0x1018,July,Felsenthalq,15.0,731-19-8119,Accountant,61194.81,5014.567500,7,...,25.120102,14 Years and 2 Months,Yes,225.368691,200.29465385973404,Low_spent_Medium_value_payments,355.79340476381844,Poor,61194.81,100
101,0x21d8b,CUS_0x1038,June,B.h,27.0,355-00-7832,Architect,129473.16,NaN,3,...,36.833587,19 Years and 10 Months,Yes,255.327905,893.8187252311801,Low_spent_Large_value_payments,216.79636977784142,Standard,129473.16,100
150,0x2130,CUS_0x104e,July,Kentaros,50.0,837-93-5062,Teacher,19180.87,1688.405833,8,...,37.747361,25 Years and 1 Months,No,57.364211,67.91677060720872,Low_spent_Small_value_payments,333.55960171652225,Standard,19180.87,100
209,0x347b,CUS_0x1069,February,Andreas Cremero,32.0,761-27-5143,Accountant,58637.34,NaN,4,...,34.117518,30 Years and 2 Months,Yes,139.885013,__10000__,High_spent_Medium_value_payments,495.40135939526834,Standard,58637.34,100
229,0x1e86f,CUS_0x1075,June,Dorfmanv,38.0,225-94-8383,Manager,24709.33,1933.468718,5,...,32.782005,17 Years and 8 Months,NM,196.027162,186.11452687320497,Low_spent_Medium_value_payments,259.1115103930169,Poor,24709.33,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99852,0x1208e,CUS_0xfb6,May,Leah Schnurrj,21.0,668-25-6453,Accountant,42165.91,3658.825833,4,...,33.942602,30 Years and 5 Months,No,0.000000,75.95539116848389,High_spent_Large_value_payments,529.9271921648494,Standard,42165.91,100
99881,0x19183,CUS_0xfcb,February,Patrick Temple-Westk,24.0,765-35-2455,Lawyer,10805.56,627.463333,5,...,28.605417,17 Years and 6 Months,No,13.161860,71.59929306861501,Low_spent_Small_value_payments,267.98518027322274,Standard,10805.56,100
99898,0x1d06c,CUS_0xfd1,March,Frewy,31.0,389-55-6408,Architect,78666.56999999999,6485.547500,4,...,35.767532,22 Years and 0 Months,No,247.851145,189.52837137684742,Low_spent_Medium_value_payments,491.1752339555079,Standard,78666.57,100
99927,0x1fec1,CUS_0xfdf,August,Zhua,56.0,099-84-4997,Mechanic,70114.38,NaN,0,...,40.434529,NaN,No,131.472173,146.86000235186486,High_spent_Large_value_payments,529.6543248971085,Standard,70114.38,100
99995,0x25afd,CUS_0xffd,April,Damouniq,29.0,832-88-8320,Scientist,41398.44,3749.870000,8,...,36.384516,18 Years and 5 Months,Yes,182.976649,234.3549398533252,!@9#%8,247.65541069375956,Standard,41398.44,100

In [32]:
# Réinitialiser l'index pour éviter les conflits
dataset = dataset.reset_index(drop=True)

# Convertir Num_of_Loan_Cleaned en numérique, gérer les erreurs
dataset['Num_of_Loan_Cleaned'] = pd.to_numeric(dataset['Num_of_Loan_Cleaned'], errors='coerce')

# Fonction pour corriger les valeurs aberrantes dans Num_of_Loan_Cleaned
def replace_invalid_num_loans(group):
    # Filtrer les valeurs valides (entre 0 et 10 inclus)
    valid_loans = group['Num_of_Loan_Cleaned'][(group['Num_of_Loan_Cleaned'] >= 0) & (group['Num_of_Loan_Cleaned'] <= 10)]
    if not valid_loans.empty:
        # Utiliser la première valeur valide trouvée pour remplacement
        replacement_value = valid_loans.iloc[0]
        group['Num_of_Loan_Cleaned'] = group['Num_of_Loan_Cleaned'].apply(
            lambda x: replacement_value if pd.isnull(x) or x < 0 or x > 10 else x
        )
    return group

# Appliquer uniquement à la colonne 'Num_of_Loan_Cleaned' groupée par Customer_ID
dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_num_loans)

# Réinitialiser l'index final
dataset = dataset.reset_index(drop=True)

# Sauvegarder le DataFrame corrigé
dataset.to_csv("num_of_loans_corrige.csv", index=False)

print("Les valeurs aberrantes dans 'Num_of_Loan_Cleaned' ont été corrigées.")

/tmp/ipykernel_404045/3924809958.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset = dataset.groupby(['Customer_ID'], as_index=False).apply(replace_invalid_num_loans)

Les valeurs aberrantes dans 'Num_of_Loan_Cleaned' ont été corrigées.

In [33]:
# Compter la fréquence de chaque valeur unique dans Num_Bank_Accounts
value_counts_table = dataset['Num_Credit_Card'].value_counts().sort_index()

# Convertir en DataFrame pour affichage clair
value_counts_df = value_counts_table.reset_index()
value_counts_df.columns = ['Num_Credit_Card', 'Frequency']

# Afficher le tableau complet
print(value_counts_df.to_string(index=False))

 Num_Credit_Card  Frequency
               0         13
               1       2132
               2       2149
               3      13277
               4      14030
               5      18459
               6      16559
               7      16615
               8       4956
               9       4643
              10       4860
              11         36
              15          3
              16          2
              17          1
              18          1
              20          1
              21          1
              22          2
              24          1
              25          5
              26          1
              27          3
              28          4
              29          2
              31          2
              33          2
              34          2
              35          1
              36          3
              37          4
              38          1
              39          3
              41          1
              43          4
              44          2
              46          1
              48          2
              49          1
              50          1
              51          4
              52          2
              53          1
              54          2
              56          1
              57          1
              58          1
              60          2
              61          4
              62          1
              64          3
              65          1
              66          4
              67          1
              69          2
              70          3
              71          4
              72          3
              73          2
              75          3
              76          3
              77          3
              80          1
              81          2
              82          2
              83          4
              84          2
              85          1
              86          3
              87          1
              89          1
              90          1
              92          6
              95          1
              96          1
              97          2
              98          1
              99          2
             100          2
             101          3
             102          2
             104          5
             105          2
             106          6
             107          3
             109          2
             110          3
             111          1
             112          1
             115          2
             116          2
             117          3
             118          1
             119          1
             120          2
             121          2
             122          1
             123          2
             124          2
             125          3
             126          2
             129          3
             130          1
             131          2
             132          3
             133          1
             134          2
             135          2
             136          3
             137          1
             138          1
             141          1
             142          3
             143          1
             144          1
             146          2
             147          5
             148          2
             150          2
             151          2
             153          3
             154          1
             155          2
             156          1
             157          5
             158          4
             159          6
             160          1
             162          1
             163          2
             165          2
             167          1
             168          1
             169          4
             170          3
             171          4
             172          4
             173          2
             174          1
             175          1
             176          3
             177          3
             179          2
             180          5
             182          1
             183          6
             184          3
             187          2
             188          2
             189          1
             190          1
             191          1
             192          2
             193          2
             194          2
             195          2
             197          1
             199          1
             200          2
             201          2
             202          1
             204          1
             207          1
             208          2
             209          3
             210          1
             211          1
             212          3
             213          1
             214          1
             215          3
             217          1
             218          6
             219          4
             220          1
             221          3
             222          1
             223          3
             224          2
             226          2
             227          2
             230          1
             231          2
             232          2
             233          2
             234          1
             235          2
             236          1
             237          4
             238          2
             239          2
             240          2
             242          2
             243          3
             245          2
             246          2
             247          3
             248          1
             249          4
             250          1
             251          2
             252          1
             253          5
             254          1
             256          1
             257          1
             258          1
             259          2
             260          1
             261          1
             262          2
             263          1
             264          1
             266          2
             267          1
             268          1
             269          2
             270          1
             271          2
             274          1
             275          4
             277          3
             279          1
             280          2
             282          1
             284          4
             285          2
             286          1
             287          2
             288          2
             290          1
             291          3
             292          1
             293          1
             294          2
             296          2
             297          4
             298          4
             299          1
             300          3
             301          1
             302          1
             303          2
             304          3
             305          2
             306          2
             307          1
             308          2
             309          3
             310          3
             311          4
             312          1
             313          1
             314          3
             316          2
             317          2
             319          1
             320          2
             321          2
             322          1
             323          2
             324          3
             325          2
             326          1
             327          1
             328          2
             329          1
             330          2
             331          6
             332          2
             333          2
             334          1
             335          1
             336          1
             337          1
             338          2
             340          2
             341          2
             343          1
             344          2
             345          3
             346          1
             347          1
             348          1
             349          1
             350          1
             352          1
             353          1
             355          1
             356          2
             357          2
             360          2
             361          1
             362          4
             363          2
             365          2
             366          1
             367          1
             368          1
             370          1
             371          1
             372          1
             373          2
             374          1
             375          2
             376          1
             379          2
             380          4
             381          2
             383          2
             384          2
             385          1
             386          1
             387          1
             389          1
             390          3
             391          3
             392          2
             394          2
             395          1
             396          1
             397          2
             398          2
             399          5
             403          2
             408          1
             409          2
             410          1
             411          1
             412          2
             414          1
             417          2
             418          1
             419          2
             420          1
             421          1
             422          1
             424          3
             426          1
             427          1
             428          2
             429          1
             430          1
             431          2
             432          1
             433          1
             434          3
             436          1
             438          1
             440          1
             443          1
             444          2
             445          1
             446          3
             447          2
             448          3
             449          1
             450          2
             451          4
             455          2
             456          1
             457          1
             458          4
             460          1
             461          5
             462          2
             463          1
             464          2
             466          2
             467          2
             470          2
             472          1
             474          1
             475          1
             476          1
             477          2
             478          2
             479          3
             480          1
             481          1
             483          2
             485          1
             486          2
             487          3
             488          1
             489          2
             490          2
             492          2
             493          1
             494          2
             495          2
             496          4
             498          1
             499          1
             501          5
             502          2
             503          1
             504          2
             505          2
             506          1
             507          2
             509          2
             510          1
             511          1
             512          2
             514          3
             515          1
             516          1
             517          1
             518          1
             520          2
             522          2
             523          2
             524          2
             525          1
             527          1
             528          2
             529          1
             530          1
             531          3
             533          1
             534          2
             535          4
             536          2
             537          1
             538          2
             539          1
             540          1
             541          3
             542          2
             543          2
             544          1
             545          3
             546          1
             547          1
             548          1
             549          2
             550          3
             551          1
             552          2
             553          1
             554          2
             555          3
             557          2
             558          2
             559          1
             562          2
             563          3
             564          2
             565          2
             566          3
             567          1
             569          3
             570          1
             571          2
             573          1
             574          4
             575          3
             576          1
             577          1
             578          3
             579          5
             581          1
             582          2
             583          2
             584          1
             588          1
             591          1
             592          1
             594          1
             595          2
             598          2
             599          1
             600          1
             601          1
             602          2
             603          2
             605          1
             606          1
             607          1
             608          1
             610          1
             611          3
             615          4
             616          1
             617          2
             618          2
             619          3
             620          2
             621          2
             622          2
             624          1
             625          2
             626          2
             627          1
             628          3
             629          3
             630          1
             631          3
             632          1
             633          2
             634          1
             635          1
             636          2
             637          2
             639          3
             640          1
             641          2
             642          2
             644          1
             648          1
             650          1
             652          3
             653          1
             654          4
             655          2
             656          1
             657          1
             658          2
             659          2
             660          2
             661          1
             662          2
             663          1
             664          2
             665          2
             666          1
             667          3
             668          1
             669          1
             670          1
             671          2
             673          1
             674          2
             675          2
             676          1
             677          4
             678          1
             679          1
             680          3
             681          2
             682          1
             684          3
             685          3
             686          1
             687          2
             688          4
             689          2
             690          3
             691          3
             692          3
             693          1
             695          1
             696          3
             697          2
             698          4
             699          1
             700          2
             702          1
             703          2
             704          1
             705          2
             707          3
             708          1
             709          1
             710          1
             712          1
             715          2
             716          2
             717          3
             718          1
             721          2
             722          2
             723          1
             725          2
             726          1
             727          1
             728          3
             729          3
             730          2
             731          3
             732          4
             733          3
             734          3
             736          1
             737          1
             738          3
             739          2
             740          2
             741          1
             742          2
             743          1
             744          1
             745          2
             746          4
             747          2
             749          3
             751          2
             752          1
             753          2
             755          1
             756          2
             757          3
             758          2
             759          1
             760          2
             761          1
             762          1
             763          1
             764          2
             766          2
             767          2
             768          2
             769          1
             770          2
             771          1
             772          1
             773          2
             774          3
             775          3
             776          1
             777          2
             779          2
             780          2
             781          3
             782          2
             784          1
             787          2
             789          2
             791          1
             792          2
             793          2
             794          2
             795          2
             797          2
             798          4
             799          2
             800          1
             802          2
             803          2
             805          2
             806          2
             807          1
             809          2
             810          1
             811          1
             813          2
             814          3
             815          3
             816          3
             817          1
             818          1
             819          1
             821          1
             822          3
             824          2
             825          1
             826          2
             827          2
             829          2
             830          1
             831          2
             833          2
             834          1
             835          1
             836          3
             837          3
             838          2
             841          2
             842          3
             846          2
             847          1
             848          2
             849          8
             850          1
             851          2
             852          7
             854          2
             855          1
             856          2
             857          1
             858          1
             859          3
             860          2
             863          2
             864          1
             865          2
             866          2
             867          2
             868          2
             869          1
             870          5
             874          4
             875          3
             876          2
             878          3
             879          2
             880          2
             881          1
             882          1
             883          1
             884          3
             886          1
             887          1
             888          1
             889          3
             890          1
             891          5
             892          1
             894          1
             895          2
             896          4
             898          4

In [34]:
dataset[(dataset['Num_Credit_Card'] == 15)]
#dataset[(dataset['Customer_ID'] == "CUS_0x1d6f")]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Annual_Income_Cleaned,Num_of_Loan_Cleaned
19485,0x2237f,CUS_0x36a2,June,Onstadi,19.0,670-46-2510,Lawyer,31318.84,2334.903333,7,...,37.022680,9 Years and 3 Months,Yes,144.304976,55.65697935069078,High_spent_Medium_value_payments,283.5283783707089,Standard,31318.840,8
65795,0x153d5,CUS_0x8b11,April,Sharpd,23.0,922-08-2337,Entrepreneur,12837.245,837.770417,8,...,26.974027,28 Years and 2 Months,No,21.243325,78.28010448886832,Low_spent_Small_value_payments,274.25361170083494,Standard,12837.245,3
71626,0x13eec,CUS_0x95e7,March,Michelle Martino,22.0,423-07-8408,Doctor,7080.7,358.058333,9,...,32.046673,5 Years and 5 Months,Yes,35.015311,20.59218855724721,Low_spent_Small_value_payments,270.198333644036,Poor,7080.700,8

In [35]:

dataset['Type_of_Loan'] = dataset['Type_of_Loan'].fillna('Not Specified')  # Remplacer les NaN par 'Unknown'
# Étape 1 : Nettoyer "and" à la fin
dataset['Type_of_Loan'] = dataset['Type_of_Loan'].str.replace(r'\s*and\s*$', '', regex=True)

# Étape 2 : Nettoyer "and" précédé d'une virgule ou entouré d'espaces
dataset['Type_of_Loan'] = dataset['Type_of_Loan'].str.replace(r',\s*and\s*', ', ', regex=True)
dataset['Type_of_Loan'] = dataset['Type_of_Loan'].str.replace(r'\s*and\s*,', ', ', regex=True)

# Étape 3 : Supprimer tous les restes de "and" qui ne sont pas nécessaires
dataset['Type_of_Loan'] = dataset['Type_of_Loan'].str.replace(r'\s*and\s*', '', regex=True)

# Étape 4 : Supprimer les espaces superflus
dataset['Type_of_Loan'] = dataset['Type_of_Loan'].str.strip()

# Vérifier les résultats après nettoyage
print(dataset['Type_of_Loan'].value_counts())

Type_of_Loan
Not Specified                                                                                                             12816
Credit-Builder Loan                                                                                                        1280
Personal Loan                                                                                                              1272
Debt Consolidation Loan                                                                                                    1264
Student Loan                                                                                                               1240
                                                                                                                          ...
Credit-Builder Loan, Credit-Builder Loan, Personal Loan, Student Loan, Credit-Builder Loan, Not Specified, Payday Loan        8
Student Loan, Payday Loan, Credit-Builder Loan, Student Loan                                                                  8
Student Loan, Home Equity Loan, Credit-Builder Loan, Debt Consolidation Loan, Student Loan                                    8
Mortgage Loan, Home Equity Loan, Personal Loan, Personal Loan                                                                 8
Payday Loan, Payday Loan, Credit-Builder Loan, Auto Loan, Auto Loan, Auto Loan, Student Loan                                  8
Name: count, Length: 6260, dtype: int64

In [36]:
count()

Column: ID
ID
0x344a     1
0x344b     1
0x344c     1
0x344d     1
0x344e     1
          ..
0x1628d    1
0x1628e    1
0x1628f    1
0x16290    1
0x16291    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0xffd     8
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
             ..
CUS_0x105b    8
CUS_0x105c    8
CUS_0x1063    8
CUS_0x1069    8
CUS_0x106f    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Jessicad                39
Vaughanl                39
                      ...
Matt Scuffhamk           4
ODonnell"w               4
Olesya Dmitracovaq       4
Robin Pomeroyz           4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
244-85-0461       8
489-16-3177       8
121-87-3090       8
345-45-3616       8
               ...
642-73-7670       4
331-28-1921       4
753-72-2651       4
838-33-4811       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Media_Manager    6720
Developer        6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
32543.38      16
36585.12      16
17273.83      16
109945.32     16
9141.63       16
              ..
7912130.0      1
14059195.0     1
22255601.0     1
18758037.0     1
2617379.0      1
Name: count, Length: 13487, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
2995.596667        1
962.761667         1
9204.888026        1
587.015817         1
1069.950000        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6     13178
7     12993
8     12945
4     12346
5     12300
3     12101
9      5500
10     5329
1      4541
0      4416
2      4342
11        9
Name: count, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
420         1
313         1
1332        1
939         1
154         1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8     5104
5     5096
6     4832
12    4648
10    4616
7     4584
9     4576
11    4512
18    4192
15    4072
20    4008
17    3888
16    3800
19    3704
3     2824
1     2744
4     2640
2     2520
13    2432
14    2272
32    1776
22    1752
24    1736
30    1728
23    1720
29    1696
28    1648
27    1640
25    1608
21    1592
26    1528
34    1528
33    1496
31    1488
Name: count, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3      15104
2      15032
4      14743
0      10930
1      10606
       ...
438        1
146        1
654        1
464        1
926        1
Name: count, Length: 413, dtype: int64

Column: Type_of_Loan
Type_of_Loan
Not Specified                                                                                                             12816
Credit-Builder Loan                                                                                                        1280
Personal Loan                                                                                                              1272
Debt Consolidation Loan                                                                                                    1264
Student Loan                                                                                                               1240
                                                                                                                          ...
Credit-Builder Loan, Credit-Builder Loan, Personal Loan, Student Loan, Credit-Builder Loan, Not Specified, Payday Loan        8
Student Loan, Payday Loan, Credit-Builder Loan, Student Loan                                                                  8
Student Loan, Home Equity Loan, Credit-Builder Loan, Debt Consolidation Loan, Student Loan                                    8
Mortgage Loan, Home Equity Loan, Personal Loan, Personal Loan                                                                 8
Payday Loan, Payday Loan, Credit-Builder Loan, Auto Loan, Auto Loan, Auto Loan, Student Loan                                  8
Name: count, Length: 6260, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
2413       1
2142       1
2521       1
926        1
3329       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
         ...
33.61       1
30.1        1
30.71       1
26.8        1
27.24       1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2367.0        1
719.0         1
303.0         1
469.0         1
908.0         1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
460.46      23
1109.03     23
1286.59     16
            ..
814.52_      1
3842.25_     1
792.46_      1
66.47_       1
1265.83_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
34.082750    1
34.985115    1
33.352900    1
38.429307    1
36.447249    1
            ..
32.843081    1
32.330508    1
40.082272    1
38.149539    1
30.077191    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
72.626594           8
85.884942           8
66.860461           8
282.554889          8
                ...
10747.000000        1
320.505265          1
39608.000000        1
74296.000000        1
123.452331          1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
209.7765860965073        1
126.27883281259922       1
                      ...
83.00690942942404        1
145.11558108240214       1
287.12970664015666       1
43.697810883758066       1
289.9612607423692        1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
232.10799014599846                     1
309.75580030837335                     1
332.35272069997137                     1
                                    ...
259.37609463216137                     1
433.855914394654                       1
323.39633935663187                     1
318.52815618332363                     1
426.53556223571456                     1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

Column: Annual_Income_Cleaned
Annual_Income_Cleaned
NaN          147
32543.38      16
36585.12      16
40341.16      16
20867.67      16
            ...
128720.67      1
64423.12       1
58307.96       1
31584.96       1
93529.92       1
Name: count, Length: 13316, dtype: int64

Column: Num_of_Loan_Cleaned
Num_of_Loan_Cleaned
3    15752
2    15712
4    15456
0    11408
1    11128
6     8144
7     7680
5     7528
9     3856
8     3336
Name: count, dtype: int64

In [37]:
# Séparer les types de prêts en liste
dataset['Type_of_Loan_List'] = dataset['Type_of_Loan'].str.split(', ')

# One-Hot Encoding
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
one_hot_encoded = mlb.fit_transform(dataset['Type_of_Loan_List'])

# Ajouter les colonnes encodées au DataFrame
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=mlb.classes_, index=dataset.index)
dataset = pd.concat([dataset, one_hot_encoded_df], axis=1)

# Supprimer la colonne temporaire
dataset.drop('Type_of_Loan_List', axis=1, inplace=True)

# Vérification des colonnes encodées
print(dataset.columns)

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score', 'Annual_Income_Cleaned', 'Num_of_Loan_Cleaned',
       'Auto Loan', 'Credit-Builder Loan', 'Debt Consolidation Loan',
       'Home Equity Loan', 'Mortgage Loan', 'Not Specified', 'Payday Loan',
       'Personal Loan', 'Student Loan'],
      dtype='object')

In [38]:
count()

Column: ID
ID
0x344a     1
0x344b     1
0x344c     1
0x344d     1
0x344e     1
          ..
0x1628d    1
0x1628e    1
0x1628f    1
0x16290    1
0x16291    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0xffd     8
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
             ..
CUS_0x105b    8
CUS_0x105c    8
CUS_0x1063    8
CUS_0x1069    8
CUS_0x106f    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Jessicad                39
Vaughanl                39
                      ...
Matt Scuffhamk           4
ODonnell"w               4
Olesya Dmitracovaq       4
Robin Pomeroyz           4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
244-85-0461       8
489-16-3177       8
121-87-3090       8
345-45-3616       8
               ...
642-73-7670       4
331-28-1921       4
753-72-2651       4
838-33-4811       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Media_Manager    6720
Developer        6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
32543.38      16
36585.12      16
17273.83      16
109945.32     16
9141.63       16
              ..
7912130.0      1
14059195.0     1
22255601.0     1
18758037.0     1
2617379.0      1
Name: count, Length: 13487, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
2995.596667        1
962.761667         1
9204.888026        1
587.015817         1
1069.950000        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6     13178
7     12993
8     12945
4     12346
5     12300
3     12101
9      5500
10     5329
1      4541
0      4416
2      4342
11        9
Name: count, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
420         1
313         1
1332        1
939         1
154         1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8     5104
5     5096
6     4832
12    4648
10    4616
7     4584
9     4576
11    4512
18    4192
15    4072
20    4008
17    3888
16    3800
19    3704
3     2824
1     2744
4     2640
2     2520
13    2432
14    2272
32    1776
22    1752
24    1736
30    1728
23    1720
29    1696
28    1648
27    1640
25    1608
21    1592
26    1528
34    1528
33    1496
31    1488
Name: count, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3      15104
2      15032
4      14743
0      10930
1      10606
       ...
438        1
146        1
654        1
464        1
926        1
Name: count, Length: 413, dtype: int64

Column: Type_of_Loan
Type_of_Loan
Not Specified                                                                                                             12816
Credit-Builder Loan                                                                                                        1280
Personal Loan                                                                                                              1272
Debt Consolidation Loan                                                                                                    1264
Student Loan                                                                                                               1240
                                                                                                                          ...
Credit-Builder Loan, Credit-Builder Loan, Personal Loan, Student Loan, Credit-Builder Loan, Not Specified, Payday Loan        8
Student Loan, Payday Loan, Credit-Builder Loan, Student Loan                                                                  8
Student Loan, Home Equity Loan, Credit-Builder Loan, Debt Consolidation Loan, Student Loan                                    8
Mortgage Loan, Home Equity Loan, Personal Loan, Personal Loan                                                                 8
Payday Loan, Payday Loan, Credit-Builder Loan, Auto Loan, Auto Loan, Auto Loan, Student Loan                                  8
Name: count, Length: 6260, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
2413       1
2142       1
2521       1
926        1
3329       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
         ...
33.61       1
30.1        1
30.71       1
26.8        1
27.24       1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2367.0        1
719.0         1
303.0         1
469.0         1
908.0         1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
460.46      23
1109.03     23
1286.59     16
            ..
814.52_      1
3842.25_     1
792.46_      1
66.47_       1
1265.83_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
34.082750    1
34.985115    1
33.352900    1
38.429307    1
36.447249    1
            ..
32.843081    1
32.330508    1
40.082272    1
38.149539    1
30.077191    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
72.626594           8
85.884942           8
66.860461           8
282.554889          8
                ...
10747.000000        1
320.505265          1
39608.000000        1
74296.000000        1
123.452331          1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
209.7765860965073        1
126.27883281259922       1
                      ...
83.00690942942404        1
145.11558108240214       1
287.12970664015666       1
43.697810883758066       1
289.9612607423692        1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
232.10799014599846                     1
309.75580030837335                     1
332.35272069997137                     1
                                    ...
259.37609463216137                     1
433.855914394654                       1
323.39633935663187                     1
318.52815618332363                     1
426.53556223571456                     1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

Column: Annual_Income_Cleaned
Annual_Income_Cleaned
NaN          147
32543.38      16
36585.12      16
40341.16      16
20867.67      16
            ...
128720.67      1
64423.12       1
58307.96       1
31584.96       1
93529.92       1
Name: count, Length: 13316, dtype: int64

Column: Num_of_Loan_Cleaned
Num_of_Loan_Cleaned
3    15752
2    15712
4    15456
0    11408
1    11128
6     8144
7     7680
5     7528
9     3856
8     3336
Name: count, dtype: int64

Column: Auto Loan
Auto Loan
0    69440
1    30560
Name: count, dtype: int64

Column: Credit-Builder Loan
Credit-Builder Loan
0    68272
1    31728
Name: count, dtype: int64

Column: Debt Consolidation Loan
Debt Consolidation Loan
0    68960
1    31040
Name: count, dtype: int64

Column: Home Equity Loan
Home Equity Loan
0    68600
1    31400
Name: count, dtype: int64

Column: Mortgage Loan
Mortgage Loan
0    68640
1    31360
Name: count, dtype: int64

Column: Not Specified
Not Specified
0    56912
1    43088
Name: count, dtype: int64

Column: Payday Loan
Payday Loan
0    68056
1    31944
Name: count, dtype: int64

Column: Personal Loan
Personal Loan
0    68896
1    31104
Name: count, dtype: int64

Column: Student Loan
Student Loan
0    68960
1    31040
Name: count, dtype: int64

In [39]:
dataset.shape

(100000, 39)

In [40]:
dataset.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_of_Loan_Cleaned,Auto Loan,Credit-Builder Loan,Debt Consolidation Loan,Home Equity Loan,Mortgage Loan,Not Specified,Payday Loan,Personal Loan,Student Loan
0,0x1628a,CUS_0x1000,January,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,2,0,1,0,1,0,0,0,0,0
1,0x1628b,CUS_0x1000,February,NaN,17.0,913-74-1218,Lawyer,30625.94,NaN,6,...,2,0,1,0,1,0,0,0,0,0
2,0x1628c,CUS_0x1000,March,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,2,0,1,0,1,0,0,0,0,0
3,0x1628d,CUS_0x1000,April,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,2,0,1,0,1,0,0,0,0,0
4,0x1628e,CUS_0x1000,May,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,2,0,1,0,1,0,0,0,0,0

In [41]:
dataset = dataset.drop(columns=['Type_of_Loan'], errors='ignore')

In [42]:
count()

Column: ID
ID
0x344a     1
0x344b     1
0x344c     1
0x344d     1
0x344e     1
          ..
0x1628d    1
0x1628e    1
0x1628f    1
0x16290    1
0x16291    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0xffd     8
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
             ..
CUS_0x105b    8
CUS_0x105c    8
CUS_0x1063    8
CUS_0x1069    8
CUS_0x106f    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Jessicad                39
Vaughanl                39
                      ...
Matt Scuffhamk           4
ODonnell"w               4
Olesya Dmitracovaq       4
Robin Pomeroyz           4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
244-85-0461       8
489-16-3177       8
121-87-3090       8
345-45-3616       8
               ...
642-73-7670       4
331-28-1921       4
753-72-2651       4
838-33-4811       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Media_Manager    6720
Developer        6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
32543.38      16
36585.12      16
17273.83      16
109945.32     16
9141.63       16
              ..
7912130.0      1
14059195.0     1
22255601.0     1
18758037.0     1
2617379.0      1
Name: count, Length: 13487, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
2995.596667        1
962.761667         1
9204.888026        1
587.015817         1
1069.950000        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6     13178
7     12993
8     12945
4     12346
5     12300
3     12101
9      5500
10     5329
1      4541
0      4416
2      4342
11        9
Name: count, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
420         1
313         1
1332        1
939         1
154         1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8     5104
5     5096
6     4832
12    4648
10    4616
7     4584
9     4576
11    4512
18    4192
15    4072
20    4008
17    3888
16    3800
19    3704
3     2824
1     2744
4     2640
2     2520
13    2432
14    2272
32    1776
22    1752
24    1736
30    1728
23    1720
29    1696
28    1648
27    1640
25    1608
21    1592
26    1528
34    1528
33    1496
31    1488
Name: count, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3      15104
2      15032
4      14743
0      10930
1      10606
       ...
438        1
146        1
654        1
464        1
926        1
Name: count, Length: 413, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
2413       1
2142       1
2521       1
926        1
3329       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
         ...
33.61       1
30.1        1
30.71       1
26.8        1
27.24       1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2367.0        1
719.0         1
303.0         1
469.0         1
908.0         1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
460.46      23
1109.03     23
1286.59     16
            ..
814.52_      1
3842.25_     1
792.46_      1
66.47_       1
1265.83_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
34.082750    1
34.985115    1
33.352900    1
38.429307    1
36.447249    1
            ..
32.843081    1
32.330508    1
40.082272    1
38.149539    1
30.077191    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
72.626594           8
85.884942           8
66.860461           8
282.554889          8
                ...
10747.000000        1
320.505265          1
39608.000000        1
74296.000000        1
123.452331          1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
209.7765860965073        1
126.27883281259922       1
                      ...
83.00690942942404        1
145.11558108240214       1
287.12970664015666       1
43.697810883758066       1
289.9612607423692        1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
232.10799014599846                     1
309.75580030837335                     1
332.35272069997137                     1
                                    ...
259.37609463216137                     1
433.855914394654                       1
323.39633935663187                     1
318.52815618332363                     1
426.53556223571456                     1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

Column: Annual_Income_Cleaned
Annual_Income_Cleaned
NaN          147
32543.38      16
36585.12      16
40341.16      16
20867.67      16
            ...
128720.67      1
64423.12       1
58307.96       1
31584.96       1
93529.92       1
Name: count, Length: 13316, dtype: int64

Column: Num_of_Loan_Cleaned
Num_of_Loan_Cleaned
3    15752
2    15712
4    15456
0    11408
1    11128
6     8144
7     7680
5     7528
9     3856
8     3336
Name: count, dtype: int64

Column: Auto Loan
Auto Loan
0    69440
1    30560
Name: count, dtype: int64

Column: Credit-Builder Loan
Credit-Builder Loan
0    68272
1    31728
Name: count, dtype: int64

Column: Debt Consolidation Loan
Debt Consolidation Loan
0    68960
1    31040
Name: count, dtype: int64

Column: Home Equity Loan
Home Equity Loan
0    68600
1    31400
Name: count, dtype: int64

Column: Mortgage Loan
Mortgage Loan
0    68640
1    31360
Name: count, dtype: int64

Column: Not Specified
Not Specified
0    56912
1    43088
Name: count, dtype: int64

Column: Payday Loan
Payday Loan
0    68056
1    31944
Name: count, dtype: int64

Column: Personal Loan
Personal Loan
0    68896
1    31104
Name: count, dtype: int64

Column: Student Loan
Student Loan
0    68960
1    31040
Name: count, dtype: int64

In [43]:
dataset.shape

(100000, 38)

In [44]:
value_counts_table = dataset['Delay_from_due_date'].value_counts().sort_index()

# Convertir en DataFrame pour affichage clair
value_counts_df = value_counts_table.reset_index()
value_counts_df.columns = ['Delay_from_due_date', 'Frequency']

# Afficher le tableau complet
print(value_counts_df.to_string(index=False))

 Delay_from_due_date  Frequency
                  -5         33
                  -4         62
                  -3        118
                  -2        168
                  -1        210
                   0       1195
                   1       1326
                   2       1342
                   3       1686
                   4       1722
                   5       3042
                   6       3137
                   7       3234
                   8       3324
                   9       3233
                  10       3281
                  11       3182
                  12       3141
                  13       3424
                  14       3313
                  15       3596
                  16       2566
                  17       2524
                  18       2637
                  19       2638
                  20       2489
                  21       2411
                  22       2334
                  23       2387
                  24       2533
                  25       2506
                  26       2386
                  27       2623
                  28       2397
                  29       2383
                  30       2309
                  31        802
                  32        787
                  33        791
                  34        675
                  35        614
                  36        594
                  37        490
                  38        592
                  39        525
                  40        572
                  41        586
                  42        623
                  43        502
                  44        602
                  45        536
                  46        490
                  47        654
                  48        628
                  49        538
                  50        576
                  51        535
                  52        625
                  53        585
                  54        624
                  55        560
                  56        555
                  57        552
                  58        553
                  59        507
                  60        533
                  61        514
                  62        545
                  63         69
                  64         64
                  65         56
                  66         32
                  67         22

In [45]:
dataset[(dataset['Delay_from_due_date'] == 67)]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_of_Loan_Cleaned,Auto Loan,Credit-Builder Loan,Debt Consolidation Loan,Home Equity Loan,Mortgage Loan,Not Specified,Payday Loan,Personal Loan,Student Loan
4,0x1628e,CUS_0x1000,May,Alistair Barrf,17.0,913-74-1218,Lawyer,30625.94,2706.161667,6,...,2,0,1,0,1,0,0,0,0,0
4542,0x15b94,CUS_0x1931,July,NaN,18.0,954-05-2870,Lawyer,20590.48,1704.873333,6,...,9,1,1,1,0,1,1,1,1,1
22208,0xd9c2,CUS_0x3bb8,January,Alister Bullt,35.0,855-98-5797,Doctor,41077.12,3390.093333,9,...,6,1,1,1,0,0,1,1,0,0
22967,0x10f8d,CUS_0x3d68,August,Warnera,16.0,#F%$D@*&8,Musician,7650.145,910.512083,9,...,6,0,1,0,0,0,1,1,1,0
26333,0x1c20b,CUS_0x434a,June,Josephinec,39.0,169-51-0038,Writer,19296.63,1820.052500,7,...,9,1,1,1,1,1,0,1,1,0
33982,0x13218,CUS_0x5087,July,Jonathana,32.0,898-20-2778,Manager,46297.44,3806.120000,7,...,9,1,0,1,0,1,1,0,1,1
35003,0x1e7d1,CUS_0x5269,April,Polanseks,34.0,643-26-5458,Engineer,18302.33,NaN,8,...,5,1,1,0,0,1,0,1,0,0
48671,0xb059,CUS_0x6b0b,August,Giorgio Gavinu,27.0,206-94-5126,Doctor,20958.75,1470.562500,9,...,8,0,0,0,1,1,0,0,1,1
58665,0x6787,CUS_0x7df,February,Juliend,26.0,556-57-5003,Accountant,14406.71,1236.559167,6,...,7,0,1,1,0,1,1,0,1,1
58671,0x678d,CUS_0x7df,August,Juliend,26.0,556-57-5003,Accountant,14406.71,1236.559167,6,...,7,0,1,1,0,1,1,0,1,1
58865,0x8503,CUS_0x7e3e,February,NaN,30.0,230-16-9822,Engineer,80932.92,6759.410000,8,...,4,0,1,0,0,0,1,1,0,0
60516,0x155da,CUS_0x8171,May,NaN,37.0,564-93-4153,Teacher,56227.47,4558.622500,8,...,5,1,1,0,1,0,0,0,0,0
65120,0xcada,CUS_0x89d3,January,Noelp,28.0,458-82-8232,Accountant,7711.54,779.628333,8,...,9,1,0,1,1,1,1,1,1,0
67949,0x18cb,CUS_0x8f17,June,Ermans,46.0,794-17-4490,Journalist,41746.76,3651.896667,8,...,3,0,0,0,0,1,1,0,1,0
68044,0x1ff12,CUS_0x8f3f,May,Dhanyac,19.0,295-44-1174,Lawyer,20566.56,1711.880000,8,...,8,1,1,0,1,1,0,1,0,0
69008,0x9ab6,CUS_0x910a,January,Lynchp,16.0,924-42-4638,Mechanic,16701.54,1555.795000,7,...,5,0,0,0,0,0,1,1,1,0
69010,0x9ab8,CUS_0x910a,March,Lynchp,16.0,924-42-4638,Mechanic,16701.54,1555.795000,7,...,5,0,0,0,0,0,1,1,1,0
75790,0x18c24,CUS_0x9dc1,July,Claire Davenportz,43.0,334-06-1440,Accountant,19621.94,NaN,7,...,6,0,0,0,0,1,0,0,1,1
80237,0x1f2cb,CUS_0xa5d1,June,Deepay,38.0,734-18-4220,Media_Manager,20269.93,1617.160833,7,...,7,0,1,1,0,0,1,0,0,1
81787,0x1cd9d,CUS_0xa8ce,April,Kyle Petersonv,37.0,373-96-7382,Engineer,52643.34,NaN,10,...,7,0,1,1,0,1,1,1,0,0
85316,0xc98e,CUS_0xaf3a,May,Patrick Lanninb,34.0,078-94-7620,Mechanic,58110.06,4683.505000,7,...,6,1,1,1,1,1,0,0,1,0
89032,0x1372e,CUS_0xb61a,January,NaN,44.0,993-89-4367,Writer,82934.76,6611.230000,7,...,6,1,1,0,1,1,1,0,1,0

In [46]:
dataset[(dataset['Customer_ID'] == "CUS_0xb61a")].Delay_from_due_date

89032    67
89033    62
89034    62
89035    62
89036    58
89037    62
89038    62
89039    63
Name: Delay_from_due_date, dtype: int64

In [47]:
value_counts_table = dataset['Num_of_Delayed_Payment'].value_counts().sort_index()

# Convertir en DataFrame pour affichage clair
value_counts_df = value_counts_table.reset_index()
value_counts_df.columns = ['Num_of_Delayed_Payment', 'Frequency']

# Afficher le tableau complet
print(value_counts_df.to_string(index=False))

Num_of_Delayed_Payment  Frequency
                    -1        308
                   -1_          8
                    -2        223
                   -2_         11
                    -3         91
                   -3_          3
                     0       1568
                    0_         41
                     1       1586
                    10       5153
                  1004          1
                  1014          2
                  1015          1
                  1018          1
                   102          1
                  1034          1
                  1045          1
                  1049          1
                   106          1
                  1060          1
                  1061          1
                  1063          1
                   107          1
                  1073          1
                  1079          1
                  1086          1
                  1087          1
                 1087_          1
                  1096          1
                   10_        156
                    11       4667
                  1106          1
                  1133          1
                  1150          2
                  1154          1
                  1164          1
                  1172          1
                  1177          1
                  1178          1
                  1180          2
                  1181          1
                  1184          1
                  1191          1
                  1192          1
                  1199          1
                   11_        143
                    12       4905
                  1204          2
                   121          1
                  1211          1
                  1215          1
                  1216          1
                  1218          1
                  1222          1
                  1236          1
                  1243          1
                  1256          1
                  1263          1
                  1278          1
                  1282          1
                 1295_          1
                   12_        154
                    13       3908
                   130          1
                  1301          1
                   132          1
                 1323_          1
                  1325          1
                  1328          1
                  1329          1
                   133          1
                  1332          1
                  1337          1
                  1338          1
                  1354          1
                  1359          1
                  1370          2
                  1371          1
                  1389          1
                  1392          2
                   13_        128
                    14       4066
                  1402          1
                  1411          1
                   142          1
                  1422          1
                  1443          1
                   145          1
                  1450          1
                  1463          2
                  1471          1
                  1473          1
                 1473_          1
                  1478          1
                  1480          1
                  1481          1
                  1489          1
                  1498          1
                   14_        127
                    15       5077
                  1502          1
                  1509          1
                  1511          1
                  1523          1
                  1530          1
                  1531          1
                  1534          1
                  1536          1
                  1538          1
                  1541          1
                  1552          1
                  1553          1
                  1571          1
                  1572          1
                  1579          1
                  1598          1
                   15_        160
                    16       5173
                  1606          1
                  1608          1
                  1614          2
                   162          1
                  1633          1
                  1636          1
                  1640          1
                  1647          1
                  1653          1
                   166          1
                  1663          1
                  1664          1
                  1668          1
                  1673          1
                  1685          1
                  1687          1
                  1691          1
                  1697          1
                  1699          2
                   16_        139
                    17       5261
                  1706          1
                  1718          1
                  1732          1
                  1735          1
                  1743          1
                  1749          1
                   175          1
                  1750          1
                  1765          1
                  1766          1
                  1775          1
                  1792          1
                  1795          1
                   17_        151
                    18       5083
                  1801          1
                   182          1
                  1820          1
                  1823          1
                  1825          1
                  1832          1
                  1833          1
                  183_          1
                  1841          2
                  1849          2
                  1850          1
                  1852          1
                  1859          1
                   186          1
                  1861          1
                  1862          1
                  1864          1
                  1867          2
                  1869          1
                  1874          1
                  1879          1
                  1884          1
                  1890          1
                  1891          1
                   18_        133
                    19       5327
                  1900          1
                  1911          1
                   192          2
                  1941          1
                  1946          3
                   195          1
                  1952          1
                  1953          1
                  1954          1
                   196          1
                  1967          1
                   197          1
                  1975          1
                  1976          1
                  1985          1
                  1989          1
                  1994          1
                  1996          1
                   19_        154
                    1_         50
                     2       1751
                    20       4935
                  2001          1
                  2006          1
                  2007          1
                  2008          1
                  2015          1
                  2018          1
                  2021          1
                  2044          1
                  2047          1
                  2056          1
                  2060          1
                  2070          1
                  2072          1
                  2076          1
                  2080          1
                  2081          1
                   20_        154
                    21       2497
                   210          1
                   211          1
                  2127          1
                  2128          1
                  2131          2
                  2138          1
                  2141          1
                  2142          1
                 2142_          1
                  2148          1
                  2149          2
                  2162          1
                  2165          1
                  2167          1
                   217          1
                  2184          1
                  2185          1
                  2196          1
                   21_         56
                    22       2257
                  2204          1
                   221          1
                  2216          1
                 2219_          1
                  2222          1
                   223          1
                  2230          1
                 2237_          1
                  2239          1
                  2243          1
                  2250          1
                  2255          1
                  2260          1
                  2262          1
                  2274          1
                  2276          1
                  2278          1
                 2278_          1
                  2279          1
                  2280          1
                  2286          1
                  2297          1
                   22_         82
                    23       1970
                  2300          1
                  2311          1
                  2314          1
                  2317          1
                  2323          2
                  2324          1
                  2334          1
                  2348          1
                  2351          1
                  2352          1
                  2354          1
                  2376          1
                  2378          1
                   238          1
                  2381          1
                  2384          1
                  2385          1
                  2397          1
                   23_         58
                    24       1647
                  2400          1
                  2413          1
                  2418          1
                  2420          1
                  2429          1
                  2431          1
                  2438          2
                  2450          1
                  2457          1
                  2461          1
                  2488          1
                  2492          1
                  2493          1
                  2498          1
                   24_         54
                    25       1607
                  2503          1
                  2506          1
                  2508          1
                  2511          1
                   252          1
                  2521          1
                  2523          1
                  2529          1
                  2533          1
                  2534          1
                  2544          1
                  2552          1
                  2553          1
                  2560          1
                  2566          1
                 2566_          1
                  2569          1
                 2569_          1
                  2570          1
                  2573          1
                  2578          1
                  2585          1
                  2587          1
                  2589          1
                  2590          1
                  2591          1
                  2594          1
                   25_         58
                    26        318
                  2604          1
                  2609          1
                  2615          1
                  2616          1
                  2617          1
                  2621          2
                  2628          2
                  2636          1
                  2638          1
                   264          1
                  2645          1
                   265          1
                  2655          1
                  2657          1
                  2658          1
                  2660          1
                  2666          1
                  2671          2
                  2672          1
                  2677          1
                  2689          1
                  2694          1
                  2697          2
                   26_          4
                    27        244
                  2705          2
                  2707          2
                   271          1
                  2712          1
                  2728          1
                  2729          1
                   273          1
                  2737          1
                  2751          1
                  2753          1
                  2756          1
                  2759          1
                  2766          1
                  2768          1
                  2777          1
                  2793          2
                 2794_          1
                   27_          6
                    28        130
                  2801          2
                   281          1
                  2810          1
                  2812          2
                  2820          1
                  2823          1
                   283          1
                  2834          1
                  2854          1
                  2860          1
                  2873          1
                  2875          1
                  2879          1
                  2882          1
                  2896          1
                   28_          1
                   290          1
                  2903          1
                  2907          1
                  2913          1
                  2919          1
                  2924          1
                  2926          1
                  2938          1
                   294          1
                  2943          1
                  2945          1
                  2950          1
                  2954          1
                  2955          1
                  2956          1
                  2959          1
                  2991          1
                    2_         59
                     3       1862
                  3009          1
                  3010          1
                  3011          1
                  3031          1
                  3037          1
                  3040          1
                  3043          1
                  3050          2
                  3051          2
                   306          1
                  3060          1
                  3069          1
                  3078          1
                  3083          1
                   309          1
                  3092          1
                 3097_          1
                  3099          1
                  3103          1
                  3104          1
                  3105          1
                  3107          1
                  3112          1
                  3115          1
                  3119          1
                  3142          1
                  3148          1
                  3154          1
                  3155          1
                  3156          1
                  3162          1
                  3171          1
                  3175          1
                  3177          1
                  3179          1
                  3191          2
                   320          2
                  3200          1
                  3208          1
                  3212          1
                  3216          1
                  3222          1
                  3229          1
                  3243          1
                  3245          1
                  3251          2
                  3253          1
                  3260          1
                  3268          1
                  3274          1
                   328          1
                  3300          1
                  3313          1
                  3316          1
                  3318          1
                  3329          1
                  3336          1
                  3340          1
                  3355          2
                  3368          1
                   337          1
                  3370          1
                  3391          1
                  3392          1
                  3402          1
                  3404          1
                  3407          1
                  3415          1
                  3416          1
                  3447          1
                  3456          1
                  3457          1
                  3458          1
                  3467          1
                  3478          2
                  3484          4
                  3488          1
                  3489          1
                  3491          1
                  3492          1
                  3495          1
                  3499          1
                  3502          1
                   351          1
                  3511          1
                  3522          1
                  3529          1
                  3533          1
                  3536          1
                  3539          1
                  3545          1
                  3559          1
                  3568          1
                  3574          1
                  3580          1
                  3584          1
                   359          1
                  3621          1
                  3623          1
                  3629          1
                  3632          1
                  3636          1
                  3660          1
                  3661          1
                  3684          1
                  3688          1
                  3706          1
                  3707          1
                  3708          1
                   371          1
                   372          1
                  3721          1
                  3722          2
                  3726          1
                  3738          1
                  3739          1
                  3749          1
                  3750          1
                  3751          1
                  3754          1
                  3763          1
                  3764          1
                  3765          1
                  3766          1
                  3776          1
                  3790          1
                  3793          1
                  3796          1
                  3815          2
                  3819          1
                  3827          1
                   384          1
                 3840_          1
                  3845          1
                  3847          1
                  3855          1
                  3858          1
                 3861_          1
                  3864          1
                  3865          1
                  3869          1
                  3870          1
                  3878          1
                  3880          1
                  3881          1
                  3894          1
                  3900          1
                  3905          1
                  3909          1
                  3919          1
                 3920_          1
                  3926          1
                  3944          1
                  3946          1
                  3951          1
                  3955          1
                  3960          1
                  3972          1
                  3978          1
                   398          2
                   399          1
                    3_         69
                     4       1787
                  4002          1
                  4005          1
                  4011          1
                  4019          1
                  4022          1
                  4023          1
                  4024          1
                  4037          1
                  4042          1
                  4043          1
                  4047          1
                  4051          1
                  4053          1
                  4059          1
                  4069          1
                  4075          1

In [48]:
dataset[(dataset['Num_of_Delayed_Payment'] == 4397)]

Empty DataFrame
Columns: [ID, Customer_ID, Month, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score, Annual_Income_Cleaned, Num_of_Loan_Cleaned, Auto Loan, Credit-Builder Loan, Debt Consolidation Loan, Home Equity Loan, Mortgage Loan, Not Specified, Payday Loan, Personal Loan, Student Loan]
Index: []

[0 rows x 38 columns]

In [49]:
dataset[(dataset['SSN'] == "705-77-2792")]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_of_Loan_Cleaned,Auto Loan,Credit-Builder Loan,Debt Consolidation Loan,Home Equity Loan,Mortgage Loan,Not Specified,Payday Loan,Personal Loan,Student Loan
68088,0x1441e,CUS_0x8f59,January,Jessicad,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1
68089,0x1441f,CUS_0x8f59,February,Jessicad,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1
68090,0x14420,CUS_0x8f59,March,NaN,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1
68091,0x14421,CUS_0x8f59,April,Jessicad,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1
68092,0x14422,CUS_0x8f59,May,Jessicad,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1
68093,0x14423,CUS_0x8f59,June,Jessicad,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1
68094,0x14424,CUS_0x8f59,July,NaN,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1
68095,0x14425,CUS_0x8f59,August,Jessicad,36.0,705-77-2792,Mechanic,24577.48,2055.123333,5,...,6,0,1,1,1,0,0,0,1,1

In [50]:
count()

Column: ID
ID
0x344a     1
0x344b     1
0x344c     1
0x344d     1
0x344e     1
          ..
0x1628d    1
0x1628e    1
0x1628f    1
0x16290    1
0x16291    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0xffd     8
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
             ..
CUS_0x105b    8
CUS_0x105c    8
CUS_0x1063    8
CUS_0x1069    8
CUS_0x106f    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Jessicad                39
Vaughanl                39
                      ...
Matt Scuffhamk           4
ODonnell"w               4
Olesya Dmitracovaq       4
Robin Pomeroyz           4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
244-85-0461       8
489-16-3177       8
121-87-3090       8
345-45-3616       8
               ...
642-73-7670       4
331-28-1921       4
753-72-2651       4
838-33-4811       4
604-62-6133       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Media_Manager    6720
Developer        6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
32543.38      16
36585.12      16
17273.83      16
109945.32     16
9141.63       16
              ..
7912130.0      1
14059195.0     1
22255601.0     1
18758037.0     1
2617379.0      1
Name: count, Length: 13487, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
6769.130000       15
2295.058333       15
6082.187500       15
6358.956667       15
               ...
2995.596667        1
962.761667         1
9204.888026        1
587.015817         1
1069.950000        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6     13178
7     12993
8     12945
4     12346
5     12300
3     12101
9      5500
10     5329
1      4541
0      4416
2      4342
11        9
Name: count, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
420         1
313         1
1332        1
939         1
154         1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8     5104
5     5096
6     4832
12    4648
10    4616
7     4584
9     4576
11    4512
18    4192
15    4072
20    4008
17    3888
16    3800
19    3704
3     2824
1     2744
4     2640
2     2520
13    2432
14    2272
32    1776
22    1752
24    1736
30    1728
23    1720
29    1696
28    1648
27    1640
25    1608
21    1592
26    1528
34    1528
33    1496
31    1488
Name: count, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3      15104
2      15032
4      14743
0      10930
1      10606
       ...
438        1
146        1
654        1
464        1
926        1
Name: count, Length: 413, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
NaN     7002
19      5327
17      5261
16      5173
10      5153
        ...
2413       1
2142       1
2521       1
926        1
3329       1
Name: count, Length: 750, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
         ...
33.61       1
30.1        1
30.71       1
26.8        1
27.24       1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2367.0        1
719.0         1
303.0         1
469.0         1
908.0         1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
460.46      23
1109.03     23
1286.59     16
            ..
814.52_      1
3842.25_     1
792.46_      1
66.47_       1
1265.83_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
34.082750    1
34.985115    1
33.352900    1
38.429307    1
36.447249    1
            ..
32.843081    1
32.330508    1
40.082272    1
38.149539    1
30.077191    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
72.626594           8
85.884942           8
66.860461           8
282.554889          8
                ...
10747.000000        1
320.505265          1
39608.000000        1
74296.000000        1
123.452331          1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
209.7765860965073        1
126.27883281259922       1
                      ...
83.00690942942404        1
145.11558108240214       1
287.12970664015666       1
43.697810883758066       1
289.9612607423692        1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
232.10799014599846                     1
309.75580030837335                     1
332.35272069997137                     1
                                    ...
259.37609463216137                     1
433.855914394654                       1
323.39633935663187                     1
318.52815618332363                     1
426.53556223571456                     1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

Column: Annual_Income_Cleaned
Annual_Income_Cleaned
NaN          147
32543.38      16
36585.12      16
40341.16      16
20867.67      16
            ...
128720.67      1
64423.12       1
58307.96       1
31584.96       1
93529.92       1
Name: count, Length: 13316, dtype: int64

Column: Num_of_Loan_Cleaned
Num_of_Loan_Cleaned
3    15752
2    15712
4    15456
0    11408
1    11128
6     8144
7     7680
5     7528
9     3856
8     3336
Name: count, dtype: int64

Column: Auto Loan
Auto Loan
0    69440
1    30560
Name: count, dtype: int64

Column: Credit-Builder Loan
Credit-Builder Loan
0    68272
1    31728
Name: count, dtype: int64

Column: Debt Consolidation Loan
Debt Consolidation Loan
0    68960
1    31040
Name: count, dtype: int64

Column: Home Equity Loan
Home Equity Loan
0    68600
1    31400
Name: count, dtype: int64

Column: Mortgage Loan
Mortgage Loan
0    68640
1    31360
Name: count, dtype: int64

Column: Not Specified
Not Specified
0    56912
1    43088
Name: count, dtype: int64

Column: Payday Loan
Payday Loan
0    68056
1    31944
Name: count, dtype: int64

Column: Personal Loan
Personal Loan
0    68896
1    31104
Name: count, dtype: int64

Column: Student Loan
Student Loan
0    68960
1    31040
Name: count, dtype: int64

In [51]:
import pandas as pd

# Éviter la troncature en augmentant les options d'affichage
pd.set_option('display.max_columns', None)  # Afficher toutes les colonnes
pd.set_option('display.expand_frame_repr', False)  # Éviter les sauts de lignes inutiles

# Créer un DataFrame descriptif avec toutes les colonnes (y compris les One-Hot Encoded)
describe_full = dataset.describe()

# Afficher le DataFrame descriptif complet
print(describe_full)

# Option : Exporter le résumé dans un fichier CSV si nécessaire
describe_full.to_csv("dataset_description.csv", index=True)

                 Age  Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  Delay_from_due_date  Num_Credit_Inquiries  Credit_Utilization_Ratio  Total_EMI_per_month  Annual_Income_Cleaned  Num_of_Loan_Cleaned      Auto Loan  Credit-Builder Loan  Debt Consolidation Loan  Home Equity Loan  Mortgage Loan  Not Specified    Payday Loan  Personal Loan  Student Loan
count  100000.000000           84998.000000      100000.000000     100000.00000   100000.00000        100000.000000          98035.000000             100000.000000        100000.000000           99853.000000        100000.000000  100000.000000         100000.00000             100000.00000     100000.000000  100000.000000  100000.000000  100000.000000  100000.000000  100000.00000
mean       33.293050            4194.170850           5.368800         22.47443       14.53208            21.068780             27.754251                 32.285173          1403.118217           50500.235504             3.532880       0.305600              0.31728                  0.31040          0.314000       0.313600       0.430880       0.319440       0.311040       0.31040
std        10.773604            3183.686167           2.593248        129.05741        8.74133            14.860104            193.177339                  5.116875          8306.041270           38293.100974             2.446356       0.460663              0.46542                  0.46266          0.464119       0.463958       0.495202       0.466262       0.462921       0.46266
min        14.000000             303.645417           0.000000          0.00000        1.00000            -5.000000              0.000000                 20.000000             0.000000            3989.175000             0.000000       0.000000              0.00000                  0.00000          0.000000       0.000000       0.000000       0.000000       0.000000       0.00000
25%        24.000000            1625.568229           3.000000          4.00000        7.00000            10.000000              3.000000                 28.052567            30.306660           19344.270000             2.000000       0.000000              0.00000                  0.00000          0.000000       0.000000       0.000000       0.000000       0.000000       0.00000
50%        33.000000            3093.745000           5.000000          5.00000       13.00000            18.000000              6.000000                 32.305784            69.249473           37006.600000             3.000000       0.000000              0.00000                  0.00000          0.000000       0.000000       0.000000       0.000000       0.000000       0.00000
75%        42.000000            5957.448333           7.000000          7.00000       20.00000            28.000000              9.000000                 36.496663           161.224249           71677.590000             5.000000       1.000000              1.00000                  1.00000          1.000000       1.000000       1.000000       1.000000       1.000000       1.00000
max        99.000000           15204.633333          11.000000       1499.00000       34.00000            67.000000           2597.000000                 50.000000         82331.000000          182006.160000             9.000000       1.000000              1.00000                  1.00000          1.000000       1.000000       1.000000       1.000000       1.000000       1.00000

In [52]:
# Réinitialiser l'index pour éviter les conflits
dataset = dataset.reset_index(drop=True)

# Convertir Num_of_Delayed_Payment en numérique, gérer les erreurs
dataset['Num_of_Delayed_Payment'] = pd.to_numeric(dataset['Num_of_Delayed_Payment'], errors='coerce')

# Fonction pour corriger les valeurs aberrantes dans Num_of_Delayed_Payment
def replace_invalid_delayed_payments(group):
    # Filtrer les valeurs valides (<= 50)
    valid_payments = group['Num_of_Delayed_Payment'][group['Num_of_Delayed_Payment'] <= 50]
    if not valid_payments.empty:
        # Utiliser le maximum des valeurs valides pour remplacement
        replacement_value = valid_payments.max()
        group['Num_of_Delayed_Payment'] = group['Num_of_Delayed_Payment'].apply(
            lambda x: replacement_value if pd.isnull(x) or x > 50 else x
        )
    return group

# Appliquer uniquement à la colonne 'Num_of_Delayed_Payment' groupée par SSN
dataset = dataset.groupby(['SSN'], as_index=False).apply(replace_invalid_delayed_payments)

# Réinitialiser l'index final
dataset = dataset.reset_index(drop=True)

# Sauvegarder le DataFrame corrigé
dataset.to_csv("num_of_delayed_payments_corrige.csv", index=False)

print("Les valeurs aberrantes dans 'Num_of_Delayed_Payment' ont été corrigées.")

/tmp/ipykernel_404045/240478298.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataset = dataset.groupby(['SSN'], as_index=False).apply(replace_invalid_delayed_payments)

Les valeurs aberrantes dans 'Num_of_Delayed_Payment' ont été corrigées.

In [53]:
count()

Column: ID
ID
0xc11e     1
0xc11f     1
0xc121     1
0x18a9e    1
0x18aa0    1
          ..
0x17791    1
0xb9d7     1
0x25801    1
0x188c0    1
0x119fe    1
Name: count, Length: 100000, dtype: int64

Column: Customer_ID
Customer_ID
CUS_0x19d4    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
CUS_0x102e    8
             ..
CUS_0x1134    8
CUS_0x1135    8
CUS_0x1138    8
CUS_0x113e    8
CUS_0x1144    8
Name: count, Length: 12500, dtype: int64

Column: Month
Month
January     12500
August      12500
April       12500
February    12500
March       12500
May         12500
July        12500
June        12500
Name: count, dtype: int64

Column: Name
Name
NaN                   9985
Stevex                  44
Langep                  44
Vaughanl                39
Jessicad                39
                      ...
Horowitzg                4
Ronaldf                  4
Yinka Adegokec           4
Olesya Dmitracovaq       4
Timothyl                 3
Name: count, Length: 10140, dtype: int64

Column: Age
Age
38.0    3079
28.0    3060
31.0    3059
26.0    3039
25.0    2956
36.0    2954
32.0    2950
35.0    2933
34.0    2926
27.0    2924
39.0    2919
44.0    2904
19.0    2880
41.0    2859
22.0    2858
37.0    2828
29.0    2825
20.0    2822
21.0    2821
43.0    2809
24.0    2777
30.0    2775
23.0    2743
45.0    2721
40.0    2708
33.0    2638
42.0    2636
18.0    2464
46.0    1636
15.0    1619
17.0    1544
16.0    1497
48.0    1431
49.0    1413
52.0    1394
55.0    1394
53.0    1389
54.0    1336
51.0    1323
50.0    1316
14.0    1244
47.0    1243
56.0     349
95.0       4
99.0       1
Name: count, dtype: int64

Column: SSN
SSN
#F%$D@*&8      5572
423-11-5984       8
423-07-8408       8
423-03-2444       8
423-92-9444       8
               ...
286-44-9634       4
856-06-6147       4
838-33-4811       4
331-28-1921       4
753-72-2651       4
Name: count, Length: 12501, dtype: int64

Column: Occupation
Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Media_Manager    6720
Developer        6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

Column: Annual_Income
Annual_Income
20867.67      16
36585.12      16
17816.75      16
17273.83      16
9141.63       16
              ..
11641815.0     1
5444147.0      1
5419386.0      1
1914271.0      1
7928773.0      1
Name: count, Length: 13487, dtype: int64

Column: Monthly_Inhand_Salary
Monthly_Inhand_Salary
NaN            15002
2295.058333       15
6082.187500       15
6769.130000       15
6358.956667       15
               ...
458.671250         1
7727.560450        1
6424.489495        1
3058.989127        1
3136.386667        1
Name: count, Length: 13236, dtype: int64

Column: Num_Bank_Accounts
Num_Bank_Accounts
6     13178
7     12993
8     12945
4     12346
5     12300
3     12101
9      5500
10     5329
1      4541
0      4416
2      4342
11        9
Name: count, dtype: int64

Column: Num_Credit_Card
Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
712         1
1227        1
937         1
606         1
1400        1
Name: count, Length: 1179, dtype: int64

Column: Interest_Rate
Interest_Rate
8     5104
5     5096
6     4832
12    4648
10    4616
7     4584
9     4576
11    4512
18    4192
15    4072
20    4008
17    3888
16    3800
19    3704
3     2824
1     2744
4     2640
2     2520
13    2432
14    2272
32    1776
22    1752
24    1736
30    1728
23    1720
29    1696
28    1648
27    1640
25    1608
21    1592
26    1528
34    1528
33    1496
31    1488
Name: count, dtype: int64

Column: Num_of_Loan
Num_of_Loan
3       15104
2       15032
4       14743
0       10930
1       10606
        ...
613         1
1204        1
745         1
636         1
302         1
Name: count, Length: 413, dtype: int64

Column: Delay_from_due_date
Delay_from_due_date
 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: count, Length: 73, dtype: int64

Column: Num_of_Delayed_Payment
Num_of_Delayed_Payment
 19.0    5922
 17.0    5766
 16.0    5660
 18.0    5658
 10.0    5617
 15.0    5615
 20.0    5521
 12.0    5477
 11.0    5240
 9.0     5195
 8.0     5017
 14.0    4606
 13.0    4402
 21.0    2965
 22.0    2686
 7.0     2519
 6.0     2467
 23.0    2265
 5.0     2245
 3.0     2063
 4.0     1978
 2.0     1905
 24.0    1850
 25.0    1805
 1.0     1685
 0.0     1644
 28.0     777
 26.0     459
 27.0     364
-1.0      308
-2.0      223
-3.0       91
 46.0       3
 49.0       1
 47.0       1
Name: count, dtype: int64

Column: Changed_Credit_Limit
Changed_Credit_Limit
_                       2091
8.22                     133
11.5                     127
11.32                    126
7.35                     121
                        ...
-0.09999999999999998       1
36.97                      1
-2.48                      1
10.010000000000002         1
24.01                      1
Name: count, Length: 4384, dtype: int64

Column: Num_Credit_Inquiries
Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
2455.0        1
1404.0        1
1386.0        1
1985.0        1
1319.0        1
Name: count, Length: 1224, dtype: int64

Column: Credit_Mix
Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

Column: Outstanding_Debt
Outstanding_Debt
1360.45     24
1151.7      23
1109.03     23
460.46      23
204.35      16
            ..
678.58_      1
572.55_      1
839.1_       1
1393.85_     1
1420.04_     1
Name: count, Length: 13178, dtype: int64

Column: Credit_Utilization_Ratio
Credit_Utilization_Ratio
40.696798    1
35.234353    1
35.597399    1
26.271728    1
32.642299    1
            ..
30.311454    1
25.625530    1
35.984109    1
36.925439    1
24.448532    1
Name: count, Length: 100000, dtype: int64

Column: Credit_History_Age
Credit_History_Age
NaN                       9030
15 Years and 11 Months     446
19 Years and 4 Months      445
19 Years and 5 Months      444
17 Years and 11 Months     443
                          ...
0 Years and 3 Months        20
0 Years and 2 Months        15
33 Years and 7 Months       14
33 Years and 8 Months       12
0 Years and 1 Months         2
Name: count, Length: 405, dtype: int64

Column: Payment_of_Min_Amount
Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Column: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
67.027337           8
113.551131          8
156.596164          8
197.226883          8
                ...
80064.000000        1
59011.000000        1
5072.000000         1
2846.000000         1
25168.000000        1
Name: count, Length: 14950, dtype: int64

Column: Amount_invested_monthly
Amount_invested_monthly
NaN                   4479
__10000__             4305
0.0                    169
45.79845680007501        1
241.7010102748625        1
                      ...
31.24957995349669        1
423.2188411683158        1
136.5616366067253        1
25.93106561343177        1
121.90902248466558       1
Name: count, Length: 91050, dtype: int64

Column: Payment_Behaviour
Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Column: Monthly_Balance
Monthly_Balance
NaN                                 1200
__-333333333333333333333333333__       9
262.39117440341874                     1
329.45908178401663                     1
259.917933190635                       1
                                    ...
404.4604920833958                      1
449.27160258092016                     1
327.71573575680924                     1
463.84851178162614                     1
440.6426541461324                      1
Name: count, Length: 98793, dtype: int64

Column: Credit_Score
Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

Column: Annual_Income_Cleaned
Annual_Income_Cleaned
NaN              147
20867.670000      16
17273.830000      16
36585.120000      16
32543.380000      16
                ...
34098.600000       1
40133.000000       1
30648.650000       1
106038.200000      1
95109.422068       1
Name: count, Length: 13316, dtype: int64

Column: Num_of_Loan_Cleaned
Num_of_Loan_Cleaned
3    15752
2    15712
4    15456
0    11408
1    11128
6     8144
7     7680
5     7528
9     3856
8     3336
Name: count, dtype: int64

Column: Auto Loan
Auto Loan
0    69440
1    30560
Name: count, dtype: int64

Column: Credit-Builder Loan
Credit-Builder Loan
0    68272
1    31728
Name: count, dtype: int64

Column: Debt Consolidation Loan
Debt Consolidation Loan
0    68960
1    31040
Name: count, dtype: int64

Column: Home Equity Loan
Home Equity Loan
0    68600
1    31400
Name: count, dtype: int64

Column: Mortgage Loan
Mortgage Loan
0    68640
1    31360
Name: count, dtype: int64

Column: Not Specified
Not Specified
0    56912
1    43088
Name: count, dtype: int64

Column: Payday Loan
Payday Loan
0    68056
1    31944
Name: count, dtype: int64

Column: Personal Loan
Personal Loan
0    68896
1    31104
Name: count, dtype: int64

Column: Student Loan
Student Loan
0    68960
1    31040
Name: count, dtype: int64

In [54]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 38 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Delay_from_due_date       100000 non-null  int64
 14  Num_of_Delayed_Payment    100000 non-null  float64
 15  Changed_Credit_Limit      100000 non-null  object
 16  Num_Credit_Inquiries      98035 non-null   float64
 17  Credit_Mix                100000 non-null  object
 18  Outstanding_Debt          100000 non-null  object
 19  Credit_Utilization_Ratio  100000 non-null  float64
 20  Credit_History_Age        90970 non-null   object
 21  Payment_of_Min_Amount     100000 non-null  object
 22  Total_EMI_per_month       100000 non-null  float64
 23  Amount_invested_monthly   95521 non-null   object
 24  Payment_Behaviour         100000 non-null  object
 25  Monthly_Balance           98800 non-null   object
 26  Credit_Score              100000 non-null  object
 27  Annual_Income_Cleaned     99853 non-null   float64
 28  Num_of_Loan_Cleaned       100000 non-null  int64
 29  Auto Loan                 100000 non-null  int64
 30  Credit-Builder Loan       100000 non-null  int64
 31  Debt Consolidation Loan   100000 non-null  int64
 32  Home Equity Loan          100000 non-null  int64
 33  Mortgage Loan             100000 non-null  int64
 34  Not Specified             100000 non-null  int64
 35  Payday Loan               100000 non-null  int64
 36  Personal Loan             100000 non-null  int64
 37  Student Loan              100000 non-null  int64
dtypes: float64(7), int64(14), object(17)
memory usage: 29.0+ MB

In [55]:
import pandas as pd



# Function to treat 'Credit_History_Age' column
def treat_Credit_History_Age(group, col):
    valid_values = group[col]
    replacement_value = valid_values.iloc[0]
    group[col] = group[col].apply(
        lambda x: replacement_value if pd.isnull(x) else x
    )
    return group

# Function to treat 'Payment_Behaviour' column
def treat_Payment_Behaviour(group, col, valid_values):
    # Replace NaN or invalid values with "Unknown"
    group[col] = group[col].fillna("Unknown").str.strip()
    group[col] = group[col].apply(lambda x: x if x in valid_values else "Unknown")
    return group

# Function to treat 'Num_Bank_Accounts' column
def treat_Num_Bank_Accounts(group, col, min_val=0, max_val=12):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Filter valid values based on optional min/max
    valid_values = group[col][(group[col] >= min_val) & (group[col] <= max_val)]
    if not valid_values.empty:
        # Use the first valid value to replace invalid ones
        replacement_value = valid_values.iloc[0]
        group[col] = group[col].apply(
            lambda x: replacement_value if pd.isnull(x) or x < min_val or x > max_val else x
        )
    return group

# Function to treat 'Num_Credit_Card' column
def treat_Num_Credit_Card(group, col, min_val=0, max_val=20):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Filter valid values based on optional min/max
    valid_values = group[col][(group[col] >= min_val) & (group[col] <= max_val)]
    if not valid_values.empty:
        # Use the first valid value to replace invalid ones
        replacement_value = valid_values.iloc[0]
        group[col] = group[col].apply(
            lambda x: replacement_value if pd.isnull(x) or x < min_val or x > max_val else x
        )
    return group

# Function to treat 'Credit_Utilization_Ratio' column
def treat_Credit_Utilization_Ratio(group, col, min_val=0, max_val=1):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Filter valid values based on optional min/max
    valid_values = group[col][(group[col] >= min_val) & (group[col] <= max_val)]
    if not valid_values.empty:
        # Use the first valid value to replace invalid ones
        replacement_value = valid_values.iloc[0]
        group[col] = group[col].apply(
            lambda x: replacement_value if pd.isnull(x) or x < min_val or x > max_val else x
        )
    return group

# Function to treat 'Total_EMI_per_month' column
def treat_Total_EMI_per_month(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Replace NaN values with the mean of valid values
    valid_values = group[col].dropna()
    if not valid_values.empty:
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) else x)
    
    return group

# Function to treat 'Annual_Income_Cleaned' column
def treat_Annual_Income_Cleaned(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Replace NaN values with the mean of valid values
    valid_values = group[col].dropna()
    if not valid_values.empty:
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) else x)
    
    return group

# Function to treat 'Monthly_Inhand_Salary' column
def treat_Monthly_Inhand_Salary(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Replace NaN values with the mean of valid values
    valid_values = group[col].dropna()
    if not valid_values.empty:
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) else x)
    
    return group

# Function to treat 'Changed_Credit_Limit' column
def treat_Changed_Credit_Limit(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Replace NaN values with the mean of valid values
    valid_values = group[col].dropna()
    if not valid_values.empty:
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) else x)
    
    return group

# Function to treat 'Outstanding_Debt' column
def treat_Outstanding_Debt(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Replace NaN values with the mean of valid values
    valid_values = group[col].dropna()
    if not valid_values.empty:
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) else x)
    
    return group

# Function to treat 'Amount_invested_monthly' column
def treat_Amount_invested_monthly(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Filter valid values (greater than or equal to 0)
    valid_values = group[col][group[col] >= 0]
    if not valid_values.empty:
        # Use the mean of valid values to replace invalid ones
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) or x < 0 else x)
    
    return group

def treat_Num_Credit_Inquiries(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Replace NaN values with the mean of valid values
    valid_values = group[col].dropna()
    if not valid_values.empty:
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) else x)
    
    return group

# Function to treat 'Monthly_Balance' column
def treat_Monthly_Balance(group, col):
    # Convert to numeric and handle errors
    group[col] = group[col].astype(str)  # Convert to string to handle the replacement
    
    # Remove unwanted characters (e.g., non-numeric characters, spaces) from the string
    group[col] = group[col].str.replace(r'[^0-9.-]', '', regex=True)
    
    # Convert the cleaned column back to numeric, handling errors (non-numeric values will become NaN)
    group[col] = pd.to_numeric(group[col], errors='coerce')
    
    # Replace NaN values with the mean of valid values
    valid_values = group[col].dropna()
    if not valid_values.empty:
        replacement_value = valid_values.mean()
        group[col] = group[col].apply(lambda x: replacement_value if pd.isnull(x) else x)
    
    return group

# Apply treatment functions to each column one by one
dataset = treat_Credit_History_Age(dataset, 'Credit_History_Age')
dataset = treat_Payment_Behaviour(dataset, 'Payment_Behaviour', valid_values=[
    'High_spent_Small_value_payments', 'Low_spent_Large_value_payments', 
    'Low_spent_Medium_value_payments', 'Low_spent_Small_value_payments', 
    'High_spent_Medium_value_payments', 'High_spent_Large_value_payments'
])
dataset = treat_Num_Bank_Accounts(dataset, 'Num_Bank_Accounts', min_val=0, max_val=12)
dataset = treat_Num_Credit_Card(dataset, 'Num_Credit_Card', min_val=0, max_val=20)
dataset = treat_Credit_Utilization_Ratio(dataset, 'Credit_Utilization_Ratio', min_val=0, max_val=1)
dataset = treat_Total_EMI_per_month(dataset, 'Total_EMI_per_month')
dataset = treat_Annual_Income_Cleaned(dataset, 'Annual_Income_Cleaned')
dataset = treat_Monthly_Inhand_Salary(dataset, 'Monthly_Inhand_Salary')
dataset = treat_Changed_Credit_Limit(dataset, 'Changed_Credit_Limit')
dataset = treat_Outstanding_Debt(dataset, 'Outstanding_Debt')
dataset = treat_Amount_invested_monthly(dataset, 'Amount_invested_monthly')
dataset = treat_Num_Credit_Inquiries(dataset, 'Num_Credit_Inquiries')
dataset = treat_Monthly_Balance(dataset, 'Monthly_Balance')

# Reset index and save the cleaned dataset
dataset = dataset.reset_index(drop=True)
dataset.to_csv("dataset_cleaned.csv", index=False)

print("Dataset has been cleaned successfully!")

Dataset has been cleaned successfully!

In [56]:
print(dataset["Payment_Behaviour"].unique())

['Low_spent_Medium_value_payments' 'High_spent_Small_value_payments'
 'High_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 'Low_spent_Large_value_payments' 'Unknown'
 'High_spent_Large_value_payments']

In [57]:
dataset.describe()

                 Age  Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  Delay_from_due_date  Num_of_Delayed_Payment  Changed_Credit_Limit  Num_Credit_Inquiries  Outstanding_Debt  Credit_Utilization_Ratio  Total_EMI_per_month  Amount_invested_monthly  Monthly_Balance  Annual_Income_Cleaned  Num_of_Loan_Cleaned      Auto Loan  Credit-Builder Loan  Debt Consolidation Loan  Home Equity Loan  Mortgage Loan  Not Specified    Payday Loan  Personal Loan  Student Loan
count  100000.000000          100000.000000      100000.000000    100000.000000   100000.00000        100000.000000           100000.000000         100000.000000         100000.000000     100000.000000             100000.000000        100000.000000            100000.000000     1.000000e+05          100000.000000        100000.000000  100000.000000         100000.00000             100000.00000     100000.000000  100000.000000  100000.000000  100000.000000  100000.000000  100000.00000
mean       33.293050            4194.170850           5.368800         5.522130       14.53208            21.068780               13.546820             10.389025             27.754251       1426.220376                 32.285173          1403.118217               637.412998    -3.036437e+22           50500.235504             3.532880       0.305600              0.31728                  0.31040          0.314000       0.313600       0.430880       0.319440       0.311040       0.31040
std        10.773604            2935.176493           2.593248         2.048036        8.74133            14.860104                6.406831              6.718136            191.269936       1155.129026                  5.116875          8306.041270              1997.034517     3.162149e+24           38264.944912             2.446356       0.460663              0.46542                  0.46266          0.464119       0.463958       0.495202       0.466262       0.462921       0.46266
min        14.000000             303.645417           0.000000         0.000000        1.00000            -5.000000               -3.000000             -6.490000              0.000000          0.230000                 20.000000             0.000000                 0.000000    -3.333333e+26            3989.175000             0.000000       0.000000              0.00000                  0.00000          0.000000       0.000000       0.000000       0.000000       0.000000       0.00000
25%        24.000000            1792.084167           3.000000         4.000000        7.00000            10.000000                9.000000              5.420000              3.000000        566.072500                 28.052567            30.306660                77.017414     2.678714e+02           19366.730000             2.000000       0.000000              0.00000                  0.00000          0.000000       0.000000       0.000000       0.000000       0.000000       0.00000
50%        33.000000            3852.736667           5.000000         5.000000       13.00000            18.000000               14.000000              9.560000              6.000000       1166.155000                 32.305784            69.249473               143.127915     3.348066e+02           37080.880000             3.000000       0.000000              0.00000                  0.00000          0.000000       0.000000       0.000000       0.000000       0.000000       0.00000
75%        42.000000            5371.525000           7.000000         7.000000       20.00000            28.000000               18.000000             14.660000              9.000000       1945.962500                 36.496663           161.224249               304.765600     4.676706e+02           71617.920000             5.000000       1.000000              1.00000                  1.00000          1.000000       1.000000       1.000000       1.000000       1.000000       1.00000
max        99.000000           15204.633333          11.000000        20.000000       34.00000            67.000000               49.000000             36.970000           2597.000000       4998.070000                 50.000000         82331.000000             10000.000000     1.602041e+03          182006.160000             9.000000       1.000000              1.00000                  1.00000          1.000000       1.000000       1.000000       1.000000       1.000000       1.00000